           .rot {
                color: #ff0000;
           }

			.gray, span.text.gray {
			  color: #C0C0C0;
			}

			.blue, span.text.blue {
			  color: #2245C1;
			}

			.green, span.text.green {
			  color: #269926;
			}

			.yellow, span.text.yellow {
			  color: #DDC71F;
			}

			.red, span.text.red {
			  color: #CC0000;
			}


           .fancy-button {
                text-decoration: none;
                display: inline-block;
                margin-bottom: 0;
                font-weight: 400;
                text-align: center;
                vertical-align: middle;
                touch-action: manipulation;
                cursor: pointer;
                white-space: nowrap;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857;
                -webkit-transition: background-color 0.2s ease, color 0.2s ease;
                -moz-transition: background-color 0.2s ease, color 0.2s ease;
                -o-transition: background-color 0.2s ease, color 0.2s ease;
                transition: background-color 0.2s ease, color 0.2s ease;
            }
            .fancy-button.outline {
                border: 1px solid transparent;
            }
            .fancy-button:not(.outline) {
                margin: 1px;
            }
            .fancy-button.outline.round {
                border-radius: 4px;
            }
            .fancy-button.outline.red {
                border-color: #e7505a;
                color: #e7505a;
                background: 0 0;
            }
            .fancy-button.outline.red.active,
            .fancy-button.outline.red:active,
            .fancy-button.outline.red:active:focus,
            .fancy-button.outline.red:active:hover,
            .fancy-button.outline.red:focus,
            .fancy-button.outline.red:hover{
                border-color: #e7505a;
                color: #fff;
                background-color: #e7505a;
            }
            .fancy-button.outline.blue {
                border-color: #3598dc;
                color: #3598dc;
                background: 0 0;
            }
            .fancy-button.outline.blue.active,
            .fancy-button.outline.blue:active,
            .fancy-button.outline.blue:active:focus,
            .fancy-button.outline.blue:active:hover,
            .fancy-button.outline.blue:focus,
            .fancy-button.outline.blue:hover{
                border-color: #3598dc;
                color: #FFF;
                background-color: #3598dc;
            }


            .fancy-button.outline.light-blue {
                border-color: #32c5d2;
                color: #32c5d2;
                background: 0 0;
            }
            .fancy-button.outline.light-blue.active,
            .fancy-button.outline.light-blue:active,
            .fancy-button.outline.light-blue:active:focus,
            .fancy-button.outline.light-blue:active:hover,
            .fancy-button.outline.light-blue:focus,
            .fancy-button.outline.light-blue:hover{
                border-color: #32c5d2;
                color: #FFF;
                background-color: #32c5d2;
            }

            .fancy-button.outline.green {
                border-color: #009900;
                color: #009900;
                background: 0 0;
            }
            .fancy-button.outline.green.active,
            .fancy-button.outline.green:active,
            .fancy-button.outline.green:active:focus,
            .fancy-button.outline.green:active:hover,
            .fancy-button.outline.green:focus,
            .fancy-button.outline.green:hover{
                border-color: #009900;
                color: #FFF;
                background-color: #009900;
            }

            .fancy-button.outline.light-green {
                border-color: #42f45c;
                color: #42f45c;
                background: 0 0;
            }
            .fancy-button.outline.light-green.active,
            .fancy-button.outline.light-green:active,
            .fancy-button.outline.light-green:active:focus,
            .fancy-button.outline.light-green:active:hover,
            .fancy-button.outline.light-green:focus,
            .fancy-button.outline.light-green:hover{
                border-color: #42f45c;
                color: #FFF;
                background-color: #42f45c;
            }

            .fancy-button.outline.yellow {
                border-color: #c49f47;
                color: #c49f47;
                background: 0 0;
            }
            .fancy-button.outline.yellow.active,
            .fancy-button.outline.yellow:active,
            .fancy-button.outline.yellow:active:focus,
            .fancy-button.outline.yellow:active:hover,
            .fancy-button.outline.yellow:focus,
            .fancy-button.outline.yellow:hover{
                border-color: #c49f47;
                color: #fff;
                background-color: #c49f47;
            }

            .fancy-button.outline.purple {
                border-color: #8E44AD;
                color: #8E44AD;
                background: 0 0;
            }
            .fancy-button.outline.purple.active,
            .fancy-button.outline.purple:active,
            .fancy-button.outline.purple:active:focus,
            .fancy-button.outline.purple:active:hover,
            .fancy-button.outline.purple:focus,
            .fancy-button.outline.purple:hover{
                border-color: #8E44AD;
                color: #fff;
                background-color: #8E44AD;
            }

            .fancy-button.outline.grey {
                border-color: #525e64;
                color: #525e64;
                background: 0 0;
            }
            .fancy-button.outline.grey.active,
            .fancy-button.outline.grey:active,
            .fancy-button.outline.grey:active:focus,
            .fancy-button.outline.grey:active:hover,
            .fancy-button.outline.grey:focus,
            .fancy-button.outline.grey:hover{
                border-color: #525e64;
                color: #fff;
                background-color: #525e64;
            }

            .fancy-button.outline.light-grey {
                border-color: #E5E5E5;
                color: #E5E5E5;
                background: 0 0;
            }
            .fancy-button.outline.light-grey.active,
            .fancy-button.outline.light-grey:active,
            .fancy-button.outline.light-grey:active:focus,
            .fancy-button.outline.light-grey:active:hover,
            .fancy-button.outline.light-grey:focus,
            .fancy-button.outline.light-grey:hover{
                border-color: #E5E5E5;
                color: #333;
                background-color: #E5E5E5;
            }
            
            .fancy-button.red {
                border-color: #e7505a;
                color: #e7505a;
                background: 0 0;
            }
            .fancy-button.red.active,
            .fancy-button.red:active,
            .fancy-button.red:active:focus,
            .fancy-button.red:active:hover,
            .fancy-button.red:focus,
            .fancy-button.red:hover{
                border-color: #e7505a;
                color: #fff;
                background-color: #e7505a;
            }
            .fancy-button.blue {
                border-color: #3598dc;
                color: #3598dc;
                background: 0 0;
            }
            .fancy-button.blue.active,
            .fancy-button.blue:active,
            .fancy-button.blue:active:focus,
            .fancy-button.blue:active:hover,
            .fancy-button.blue:focus,
            .fancy-button.blue:hover{
                border-color: #3598dc;
                color: #FFF;
                background-color: #3598dc;
            }


            .fancy-button.light-blue {
                border-color: #32c5d2;
                color: #32c5d2;
                background: 0 0;
            }
            .fancy-button.light-blue.active,
            .fancy-button.light-blue:active,
            .fancy-button.light-blue:active:focus,
            .fancy-button.light-blue:active:hover,
            .fancy-button.light-blue:focus,
            .fancy-button.light-blue:hover{
                border-color: #32c5d2;
                color: #FFF;
                background-color: #32c5d2;
            }

            .fancy-button.green {
                border-color: #009900;
                color: #009900;
                background: 0 0;
            }
            .fancy-button.green.active,
            .fancy-button.green:active,
            .fancy-button.green:active:focus,
            .fancy-button.green:active:hover,
            .fancy-button.green:focus,
            .fancy-button.green:hover{
                border-color: #009900;
                color: #FFF;
                background-color:#009900;
            }

            .fancy-button.light-green {
                border-color: #42f45c;
                color: #42f45c;
                background: 0 0;
            }
            .fancy-button.light-green.active,
            .fancy-button.light-green:active,
            .fancy-button.light-green:active:focus,
            .fancy-button.light-green:active:hover,
            .fancy-button.light-green:focus,
            .fancy-button.light-green:hover{
                border-color: #42f45c;
                color: #FFF;
                background-color: #42f45c;
            }

            .fancy-button.yellow {
                border-color: #c49f47;
                color: #c49f47;
                background: 0 0;
            }
            .fancy-button.yellow.active,
            .fancy-button.yellow:active,
            .fancy-button.yellow:active:focus,
            .fancy-button.yellow:active:hover,
            .fancy-button.yellow:focus,
            .fancy-button.yellow:hover{
                border-color: #c49f47;
                color: #fff;
                background-color: #c49f47;
            }

            .fancy-button.purple {
                border-color: #8E44AD;
                color: #8E44AD;
                background: 0 0;
            }
            .fancy-button.purple.active,
            .fancy-button.purple:active,
            .fancy-button.purple:active:focus,
            .fancy-button.purple:active:hover,
            .fancy-button.purple:focus,
            .fancy-button.purple:hover{
                border-color: #8E44AD;
                color: #fff;
                background-color: #8E44AD;
            }

            .fancy-button.grey {
                border-color: #525e64;
                color: #525e64;
                background: 0 0;
            }
            .fancy-button.grey.active,
            .fancy-button.grey:active,
            .fancy-button.grey:active:focus,
            .fancy-button.grey:active:hover,
            .fancy-button.grey:focus,
            .fancy-button.grey:hover{
                border-color: #525e64;
                color: #fff;
                background-color: #525e64;
            }

            .fancy-button.light-grey {
                border-color: #E5E5E5;
                color: #E5E5E5;
                background: 0 0;
            }
            .fancy-button.light-grey.active,
            .fancy-button.light-grey:active,
            .fancy-button.light-grey:active:focus,
            .fancy-button.light-grey:active:hover,
            .fancy-button.light-grey:focus,
            .fancy-button.light-grey:hover{
                border-color: #E5E5E5;
                color: #333;
                background-color: #E5E5E5;
            }
				.fancy-button.large22 {
				font-size: 22px !important;
			}
				.fancy-button.large20 {
				font-size: 20px !important;
			}
				.fancy-button.large18 {
				font-size: 18px !important;
			}
