{% spaceless %}
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ documentTitle }}</title>
    <style type="text/css">
    .font-size-sender {font-size: 9px;}
    .font-size-anschreibenheader {font-size: 13px; font-weight: bold;}
    .font-size-configheader {font-size: 15px; font-weight: bold;}
    .font-size-bold {font-weight: bold;}
    .font-size-standard {font-size: 11px;}
    .footer-page-1 {font-size: 10px;}
    </style>
  </head>
  <body class="font-size-standard">
    <p class="font-size-configheader">Ihre Auftragsdaten<br />
    </p>
    <p>Auftraggeber<br />
        {% if customer.company|default %}{{ customer.company }}<br />{% endif %}
        {% if customer.title == true %}
            {{ customer.title }}
        {% else %}              
        {% endif %}{{ customer.firstname }} {{ customer.lastname }}<br />
            {{ customer.street }} {{ customer.streetno }}<br />
            {{ customer.zipcode }} {{ customer.city }}
    </p>
    <table width="100%">
        <tr>
            <td width="23%">Ihre Rückrufnummer(n):</td>
            <td>{% if customer.phonenumber|default %}{{ customer.phoneareacode }}{{ customer.phonenumber }}{% endif %}{% if customer.phonenumber|default and customer.mobilephone|default %}, {% endif %}{% if customer.mobilephone|default %}{{ customer.mobilephone }}{% endif %}</td>
        </tr>
        <tr>
            <td width="23%">Ihre E-Mail-Adresse:</td>
            <td>{{ customer.emailaddress }}</td>
        </tr>
        <tr>
            <td width="23%">Ihr Geburtsdatum:</td>
            <td>{{ customer.birthday }}</td>
        </tr>
        <tr>
            <td width="23%">Ihre Kundennummer:</td>
            <td>{{ customer.clientid }}</td>
        </tr>
        <tr>
            <td width="23%">Feste IP-Adresse(n):</td>
            <td>{% if customer.ip_address_inet == 'yes' %}{% if customer.ip_address|default %}{{ customer.ip_address }}{% else %}Ja{% endif %}{% else %}Nein{% endif %}</td>
        </tr>
    </table><br />&nbsp;<br />

    <table width="100%">
        <tr>
            <td width="40%">
                <span class="font-size-bold">Abweichende Rechnungsanschrift:</span><br />
                {% if customer.bank_account_streetno|default %}
                    {% if customer.streetno == customer.bank_account_streetno %}
                        keine
                    {% else %}
                        {{ customer.bank_account_street }} {{ customer.bank_account_streetno }}<br />
                        {{ customer.bank_account_zipcode }} {{ customer.bank_account_city }}
                    {% endif %}
                {% else %}
                    keine
                {% endif %}<br />
            </td>
            <td>
                <span class="font-size-bold">Installationsanschrift:</span><br />
                {% if customer.connection_streetno|default %}
                    {% if customer.connection_streetno == customer.streetno %}
                        keine
                    {% else %}
                        {{ customer.connection_street }} {{ customer.connection_streetno }}<br />
                        {{ customer.connection_zipcode }} {{ customer.connection_city }}
                    {% endif %}
                {% else %}
                    keine
                {% endif %}<br />
            </td>
        </tr>
    </table><br />&nbsp;<br />
        Änderungen an der Rechnungsanschrift haben keinen Einfluss auf das Vertragsverhältnis mit Ihnen als Vertragspartner. Sämtliche Korrespondenz wird weiterhin mit Ihnen geführt. Lediglich die Rechnungen werden an die abweichende Rechnungsanschrift gesandt.
  <br />&nbsp;<br /><br />

    <table width="100%">
        <tr>
            <td width="32%">Tarif:</td>
            <td>{{ customer.purtel_product }}</td>
        </tr>
        {#<tr>
            <td width="32%">Hardware:</td>
            <td>{{ customer.terminal_type }}</td>
        </tr>#}
        {% for product in customer.crossSellingProducts %}
            <tr>
                <td width="32%">Option:</td>
                <td>{{ product.name }}</td>
            </tr>
        {% endfor %}
    </table><br />&nbsp;<br />

    <table width="100%">
        <tr>
            <td width="32%">
                <span class="font-size-bold">Zahlungsart:</span><br />
                IBAN:<br />
                BIC:<br />
            </td>
            <td>{% if customer.no_eze|default %}Selbstzahler{% else %}Einzugsermächtigung{% endif %}
                <br />
                {{ customer.bank_account_iban }}<br />
                {{ customer.bank_account_bic_new }}<br />
            </td>
        </tr>
    </table><br />&nbsp;<br />
    <table width="100%">
        <tr>
            <td width="32%"><span class="font-size-bold">Bereitstellung der Rechnung: </span></td>
            <td>
                {% if customer.paper_bill|default and customer.paper_bill == 'yes' %}
                        Papierrechnung
                    {% else %}
                        Rechnung per E-Mail
                    {% endif %}<br />
            </td>
        </tr>
    </table><br />&nbsp;<br />
    
    {% set hasPhoneBookEntry = false %}

    {% for purtelAccount in customer.purtelAccounts %}
        {% if purtelAccount.phone_book_information == '1' %}
            {% set hasPhoneBookEntry = true %}
        {% endif %}

        {% if purtelAccount.phone_book_digital_media == '1' %}
            {% set hasPhoneBookEntry = true %}
        {% endif %}

        {% if purtelAccount.phone_book_inverse_search == '1' %}
            {% set hasPhoneBookEntry = true %}
        {% endif %}
    {% endfor %}


    {% if hasPhoneBookEntry == false %}
        {% if customer.telefonbuch_eintrag == 'Ja' %}
            <span class="font-size-bold">Telefonbucheintrag / EVN:</span><br />&nbsp;<br />
            Telefonbucheintrag gewünscht.
        {% endif %}
    {% else %}
        <span class="font-size-bold">Telefonbucheintrag / EVN:</span><br />&nbsp;<br />
        
        <table width="100%">
            <tr>
                <td style="font-weight: bold;" align="center" width="13%">Eintrag</td>
                <td style="font-weight: bold;" align="center" width="12%">Rufnummer</td>
                <td style="font-weight: bold;" align="center" width="11%">Auskunft</td>
                <td style="font-weight: bold;" align="center" width="18%">Digitale Medien</td>
                <td style="font-weight: bold;" align="center" width="12%">Inverssuche</td>
                <td style="font-weight: bold;" align="center" width="11%">EVN</td>
            </tr>
            {% for purtelAccount in customer.purtelAccounts %}
                <tr>
                    <td align="center" width="11%">
                            {% if customer.telefonbuch_eintrag == 'Ja' %}
                                Ja
                            {% else %}
                                Nein
                            {% endif %}
                    </td>
                    <td align="center" width="16%">{{ purtelAccount.nummer }}</td>
                    <td align="center" width="7%">
                        {% if purtelAccount.phone_book_information == '1' %}
                            Ja
                        {% else %}
                            Nein
                        {% endif %}
                    </td>
                    <td align="center" width="21%">
                        {% if purtelAccount.phone_book_digital_media == '1' %}
                            Ja
                        {% else %}
                            Nein
                        {% endif %}
                    </td>
                    <td align="center" width="9%">
                        {% if purtelAccount.phone_book_inverse_search == '1' %}
                            Ja
                        {% else %}
                            Nein
                        {% endif %}
                    </td>
                    <td align="center" width="14%">
                        {% if purtelAccount.itemized_bill == '1' %}
                            Ja
                        {% else %}
                            Nein
                        {% endif %}
                    </td>   
                </tr>
            {% endfor %}
        </table>
    {% endif %}<br />
  </body>
</html>
{% endspaceless %}
