{% spaceless %}
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ documentTitle }}</title>
    <style type="text/css">
    .font-size-sender {font-size: 9px;}
    .font-size-anschreibenheader {font-size: 13px; font-weight: bold;}
    .font-size-configheader {font-size: 15px; font-weight: bold;}
    .font-size-bold {font-weight: bold;}
    .font-size-standard {font-size: 11px;}
    .footer-page-1 {font-size: 10px;}
    </style>
  </head>
  <body class="font-size-standard">
    {% include 'letter-templates/page-header.html.twig' %}

        Kundennummer: {{ customer.clientid }}<br /><br />

        <span class="font-size-configheader">Ihre Auftragsbestätigung</span><br />&nbsp;<br />
        Sehr
            {% if customer.title == "Frau" or customer.title == "Herr und Frau" %}
                geehrte&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},
            {% elseif customer.title == "Herr" %}
                geehrter&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},        
            {% else %}
                geehrte Damen und Herren,   
            {% endif %}<br /><br />
        wir freuen uns, Sie als Kunden begrüßen zu dürfen und bestätigen Ihnen gerne Ihren Auftrag vom {{ customer.contract_version }}.<br />Mit diesem Brief erhalten Sie alle wichtigen Details, die Ihren zukünftigen Anschluss bei der comingolstadt betreffen.
     <br />&nbsp;<br />
    Ihr gewünschter Tarif:<br />
    {{ customer.purtel_product }}
    <br />&nbsp;<br />
    Ein reibungsloser Start mit Ihrem Glasfaseranschluss ist uns besonders wichtig. Bitte prüfen Sie daher zunächst Ihre persönlichen Vertragsdaten, die diesem Schreiben beiliegen. Falsche oder unvollständige Daten können Sie uns per Post, per E-Mail an ftth@comingolstadt.de oder telefonisch unter der 0800 841 1000 mitteilen.
    <br /><br /><br />

        Mit den besten Grüßen<br />
        Ihre comingolstadt<br /><br />&nbsp;
        <img height="68px" src="{{ asset('_img/customer-letters/unterschrift.png') }}" alt="unterschrift" />
        <br />
        Siegfried Panzer<br />
        Geschäftsführung<br />&nbsp;<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <table width="100%" class="footer-page-1">
        <tr valign="top">
            <td width="195px">
                <span class="font-size-bold">COM-IN Telekommunikations GmbH</span><br />
                Ringlerstraße 28<br />
                85057 Ingolstadt<br />
                ftth@comingolstadt.de<br />
                www.comingolstadt.de<br />
            </td>
            <td width="125px">
                <span class="font-size-bold">Geschäftsführung</span><br />
                Siegfried Panzer<br />
                <span class="font-size-bold">Eingetragen beim</span><br />
                Amtsgericht Ingolstadt<br />
                HRB 2375<br />
            </td>
            <td width="140px">
                <span class="font-size-bold">Finanzamt Ingolstadt</span><br />
                Steuer-Nr. 124/116/40645<br />
                USt-IdNr. DE198148518<br /><br /><br />
            </td>
            <td width="180px">
                <span class="font-size-bold">Bankverbindung</span><br />
                Sparkasse Ingolstadt<br />
                IBAN: DE57 7215 0000 0050 4886 83<br />
                BIC: BYLADEM1ING<br />
                Gläubiger ID: DE04ZZZ00000575301<br />
            </td>
        </tr>
    </table>
  </body>
</html>
{% endspaceless %}
