<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block base_title %}Welcome!{% endblock %}</title>
        {# begin: Web font #}
        <link href="{{ asset('bundles/metronic/css/poppins.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/metronic/css/roboto.css') }}" rel="stylesheet" type="text/css" />
        {# end:   Web font #}

        {# begin: Global Theme Styles #}
        <link href="{{ asset('bundles/metronic/assets/vendors/base/vendors.bundle.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/metronic/assets/demo/default/base/style.bundle.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/metronic/css/custom.css') }}" rel="stylesheet" type="text/css" />
        {# end:   Global Theme Styles #}
        
        {% block base_stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    {% block base_body %}{% endblock %}

</html>
