{% extends 'base.html.twig' %}

{% from 'macro/sidebarMenu.html.twig' import sidebarMenu %}

{% block base_title %}{% block title %}{% endblock %}{% endblock %}

{% block base_stylesheets %}{% spaceless %}
    {% block stylesheets %}{% endblock %}
{% endspaceless %}{% endblock %}

{% block base_body %}

    {# BEGIN: body #}
    <body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
        

        {# BEGIN:: Page #}
        <div class="m-grid m-grid--hor m-grid--root m-page">

            {% block topmenu %}
            {# BEGIN: Header - topmeu #}
            <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
                <div class="m-container m-container--fluid m-container--full-height">
                    <div class="m-stack m-stack--ver m-stack--desktop">

                        {# BEGIN: Brand #}
                        <div class="m-stack__item m-brand  m-brand--skin-light ">
                            <div class="m-stack m-stack--ver m-stack--general">
                                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                    <a href="{{ path('homepage') }}" class="m-brand__logo-wrapper">
                                        <img style="max-width: 150px; max-height: 43px;" alt="" src="{{ asset('_img/logo.png') }}" />
                                    </a>
                                </div>
                                <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                    {# BEGIN: Left Aside Minimize Toggle #}
                                    <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block  ">
                                        <span></span>
                                    </a>
                                    {# BEGIN: Responsive Aside Left Menu Toggler #}
                                    <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                        <span></span>
                                    </a>
                                    {# BEGIN: Responsive Header Menu Toggler 
                                    <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                        <span></span>
                                    </a>
                                    #}
                                    {# BEGIN: Topbar Toggler #}
                                    <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                        <i class="flaticon-more"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {# END: Brand #}

                        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">

                            {# BEGIN: Topbar #}
                            <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">
                                <div class="m-stack__item m-topbar__nav-wrapper">
                                    <ul class="m-topbar__nav m-nav m-nav--inline">
                                        
                                        <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                         m-dropdown-toggle="click">
                                            <a href="#" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-topbar__userpic">
                                                    <img src="{{ asset('_img/user_icon.png') }}" class="m--img-rounded m--marginless" alt="" />
                                                </span>
                                                <span class="m-topbar__username m--hide">Nick</span>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__header m--align-center" style="background: url({{ asset('bundles/metronic/assets/app/media/img/bg/bg-3.jpg') }}); background-size: cover;">
                                                        <div class="m-card-user m-card-user--skin-light">
                                                            <div class="m-card-user__pic">
                                                                <img src="{{ asset('_img/user_icon.png') }}" class="m--img-rounded m--marginless" alt="" />
                                                                {# <span class="m-type m-type--lg m--bg-danger"><span class="m--font-light">S<span><span> #}
                                                            </div>
                                                            <div class="m-card-user__details">
                                                                <span class="m-card-user__name m--font-weight-500">{{ app.token.user.username }}</span>
                                                                {#
                                                                <a href="mailto:{{ app.token.user.email }}" class="m-card-user__email m--font-weight-300 m-link">{{ app.token.user.email }}</a>
                                                                #}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="m-nav m-nav--skin-light">
                                                                <li class="m-nav__section m--hide">
                                                                    <span class="m-nav__section-text">Section</span>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a href="{{ path('my-account') }}" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-user-settings"></i>
                                                                        <span class="m-nav__link-title">
                                                                            <span class="m-nav__link-wrap">
                                                                                <span class="m-nav__link-text">Mein Konto</span>
                                                                                {#
                                                                                <span class="m-nav__link-badge"><span class="m-badge m-badge--success">2</span></span>
                                                                                #}
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                                                <li class="m-nav__item">
                                                                    <a href="{{ path('logout') }}" class="m-nav__link">
                                                                        <i class="m-nav__link-icon flaticon-logout"></i>
                                                                        <span class="m-nav__link-title">
                                                                            <span class="m-nav__link-wrap">
                                                                                <span class="m-nav__link-text">Logout</span>
                                                                                {#
                                                                                <span class="m-nav__link-badge"><span class="m-badge m-badge--success">2</span></span>
                                                                                #}
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            {# END: Topbar #}
                        </div>
                    </div>
                </div>
            </header>
            {# end: Header - topmeu #}
            {% endblock %}

            {# begin::Body #}
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

                {% block aside_left %}
                {# BEGIN: Left Aside #}
                <button class="m-aside-left-close  m-aside-left-close--skin-light " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
                <div id="m_aside_left" class="m-grid__item  m-aside-left  m-aside-left--skin-light ">

                    {# BEGIN: Aside Menu #}
                    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">
                        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                            
                            {#<li class="m-menu__item  m-menu__item--active" aria-haspopup="true">
                                <a href="index.html" class="m-menu__link ">
                                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">Dashboard</span>
                                            <span class="m-menu__link-badge">
                                                <span class="m-badge m-badge--danger">2</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </li>

                            {% for item in menus.SidebarDashboardMenu %}
                                {{ sidebarMenu(item, loop) }}
                            {% endfor %}

                            <li class="m-menu__section ">
                                <h4 class="m-menu__section-text">Work</h4>
                                <i class="m-menu__section-icon flaticon-analytics"></i>
                            </li>
                            #}
                            {% for item in menus.SidebarWork %}
                                {{ sidebarMenu(item, loop) }}
                            {% endfor %}

                            {#
                            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover"><a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-layers"></i><span class="m-menu__link-text">Base</span><i
                                     class="m-menu__ver-arrow la la-angle-right"></i></a>
                                <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
                                            <span class="m-menu__link">
                                                <span class="m-menu__link-text">Base</span>
                                            </span>
                                        </li>
                                        
                                        <li class="m-menu__item " aria-haspopup="true">
                                            <a href="components/base/tables.html" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                                <span class="m-menu__link-text">Tables</span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                                            <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                                <span class="m-menu__link-text">Tabs</span><i class="m-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                                <ul class="m-menu__subnav">
                                                    <li class="m-menu__item " aria-haspopup="true"><a href="components/base/tabs/bootstrap.html" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Bootstrap Tabs</span></a></li>
                                                    <li class="m-menu__item " aria-haspopup="true"><a href="components/base/tabs/line.html" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Line Tabs</span></a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            #}
                        </ul>
                    </div>
                    {# END: Aside Menu #}

                </div>
                {# END: Left Aside #}
                {% endblock %}

                {% block body %}{% endblock %}

            </div>

            <!-- end:: Body -->

            {# begin: footer #}
            <footer class="m-grid__item m-footer ">
                <div class="m-container m-container--fluid m-container--full-height m-page__container">
                    <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                        <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                            <span class="m-footer__copyright">
                                {#<a href="#" class="m-link">v3.0.0-SNAPSHOT</a>#}
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
            {# end: footer #}

        </div>
        {# begin:: Page #}

        {# begin: Scroll Top #}
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
        {# end: Scroll Top #}

        {# begin: Global Theme Bundle #}
        <script src="{{ asset('bundles/metronic/assets/vendors/base/vendors.bundle.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/metronic/assets/demo/default/base/scripts.bundle.js') }}" type="text/javascript"></script>
        {# end: Global Theme Bundle #}

        <script src="{{ asset('bundles/metronic/js/toastr.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {

                ToastrUI.init({

                success: {{ app.session.flashBag.get('success')|json_encode()|raw }},
                error: {{ app.session.flashBag.get('error')|json_encode()|raw }}
               });

            });
        </script>

        {% block javascripts %}{% endblock %}

    </body>
    {# end: body #}
{% endblock %}
