{% from 'macro/sidebarMenu-wkv.html.twig' import sidebarMenu %}

<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    {% block base_title %}<title>{% block title %}{% endblock %}</title>{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link media="all" href="{{ asset('_css/jquery-ui.min.css') }}" type="text/css" rel="stylesheet" />
    <link media="all" href="{{ asset('_css/jquery.bsmselect.css') }}" type="text/css" rel="stylesheet" />
    <link media="all" href="{{ asset('_css/jquery.typeahead.css') }}" type="text/css" rel="stylesheet" />
    <link media="all" href="{{ asset('_css/wkv.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ asset('_js/jquery.min.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/jquery-ui.min.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/jquery.validate.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/additional-methods.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/message.de.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/jquery.metadata.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/jquery.bsmselect.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/jquery.tablesorter.min.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/jquery.uploadifive.min.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/jquery.corner.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/jquery.typeahead.js?v=2') }}"></script>
    <script type="text/javascript" src="{{ asset('_js/wkv.js?v=2') }}"></script>
</head>
<body>
    <div id="Container" class="clearfix">
        <div id="Navigation">
            <div id="Logo"><img src="{{ asset('_img/logo.png') }}"></div>

            <ul id="Menu">
                {% for item in menus.MainMenu %}
                    {{ sidebarMenu(item, loop) }}
                {% endfor %}
            </ul>

            {% block submenu %}{% endblock %}

            Version: {# $KVVesion #}<br />
            Login: {{ app.token.user.fullname }}<br />
        </div>
        <div id="Content">
            {% set errors = app.session.flashBag.get('error') %}

            {% if errors is not empty %}
                <div style="background-color: red; padding: 10px;">
                    {% for message in errors %}
                        {{ message }}
                    {% endfor %}
                </div><br /><br />
            {% endif %}

            {% set successes = app.session.flashBag.get('error') %}

            {% if successes is not empty %}
                <div style="background-color: green; padding: 10px; color: white;">
                    {% for message in successes %}
                        {{ message }}
                    {% endfor %}
                </div><br /><br />
            {% endif %}

            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>
