{% extends 'layout-wkv.html.twig' %}

{% from 'macro/sidebarSubMenu-wkv.html.twig' import sidebarSubMenu %}

{% block submenu %}
<div id="Button">
    <h4>Buchhaltung</h4><hr>
    <ul>
        {% for item in menus.AccountingMenu %}
            {{ sidebarSubMenu(item, loop) }}
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block body %}
    <h1>Changelog</h1>
    <br />

    <p><strong>current</strong></p>
    <ul>
        <li>Added fields from customer cancelation steps to csv export</li>
        <li>add network number to groupware ticket summary (0c7736092c2b078d4b9678256e6c30b20eeab70a)</li>
        <li>Adding Mandatsreferenz to customer search as option</li>
        <li>Adding Debitor to customer search as option</li>
        <li>(now also version a customers history (Bugfix: Versioning a customer does not copy it's history))</li>
        <li>Adding E-Mail-Adress to customer search as option</li>
        <li>e0194429c22a805a3de6709cb7ff0919278f0420</li>
    </ul>

    /*
    v2.10.3
        - removed unused file + added changes from letter-templates/auftragsbestaetigung-kmu to repository (1001e6c84b55e33b76cbc271ce4c3d48a506899d)
        - added an info comment (73fa25429e03b1221da521878c58d5b2f6f48ecd)
        - changes from khl from dev (e10fe29bd4cf983b9769173f77503afbac4baf8a)
    */

    <p><strong>v2.10.2</strong></p>
    <ul>
        <li>Anpassung purtel api (&prov_voip=1) da purtel api kommentarlos geändert hat</li>
    </ul>

    <p><strong>v2.10.0</strong></p>
    <ul>
        <li>DNS 1 + DNS 1 to ip_range</li>
        <li>added feature to delete purtel accounts</li>
        <li>added customer.tag to csv-export</li>
        <li>show selected fields in csv-exoport in separate group on top</li>
    </ul>

    /*
    v2.9.1
        - changes from bkv (61ed9c9996c3131cec7d79e2d2638e6970d25f92)
    */

    <p><strong>v2.9.0</strong></p>
    <ul>
        <li>renamed customer Mandantenid field</li>
        <li>fixed false statistics (6d10827b3418452d8088e98f95c0308e8541b7c7)</li>
        <li>improvements to web/customer/ajaxPurtelRadiusStatus.php - now does not use outdated radius records any more (88fc1f14985ff4afbf70e4e25598e084c1068286)</li>
    </ul>

    <p><strong>v2.8.0</strong></p>
    <ul>
        <li>global connection performance improvements</li>
    </ul>

    <p><strong>v2.7.0</strong></p>
    <ul>
        <li>dynamic embeding images in bulkmailer</li>
        <li>Erweiterung der globalen DSLAM-Kommandos (Vectoring an/aus)</li>
        <li>BulkMailer</li>
        <li>servingAddress</li>
        <li>Otrs</li>
        <li>created test for prospective customer</li>
    </ul>

    <p><strong>v2.6.0</strong></p>
    <ul>
        <li>11-lang-laufende-cli-prozesse-aus-kv-starten</li>
    </ul>

    <p><strong>v2.5.0</strong></p>
    <ul>
        <li>10-nicht-mehr-alle-purtel-logins-jedem-user-anzeigen</li>
        <li>added pppoe-pin to csv-export</li>
        <li>added - list possible customers when checking for default pppoe user - show message only if active</li>
    </ul>

    <p><strong>v2.4.0</strong></p>
    <ul>
        #<li>Verbesserung der Verarbeitungsgeschwindigkeit von DSLAM Kommandos mit ISKRATEL DSLAMs</li>
        #<li>Erweiterung des CSV-Exports um IP-Blöcke</li>
        #<li>Erweiterung der IP-Block-Parameter um das Feld "Uplink-Provider"</li>
        #<li>Namensänderung des Feldes "Mac-Adresse" in "CWMP" im Bereich "Techn. Daten" eines Kunden</li>
        #<li>Erweiterung der DSLAM-Standort-Parameter um das Feld "Default ONT Firmware Release"</li>
        #<li>Erweiterung des CSV-Exports um Hauptprodukte und Hauptproduktgruppen</li>
        #<li>Einführung der Berechtigungsstufe "Master"</li>
    </ul>
{% endblock %}
