a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline; 
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #C0C0C0;
}

.fixNum, .fixNumNL {
  display: inline-block;
  width: 40px;
  text-align: right;
  margin-right: 7px;
}

table.Stat {
  border-collapse: collapse;
  width: 100%;
}

table.Stat th {
  border-bottom:  solid 1px #C0C0C0;
  font-weight: normal;
  text-decoration: underline;
  text-align: left;
  padding: 0px 3px 4px 3px;
}

table.Stat td {
  border-bottom:  solid 1px #C0C0C0;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  padding: 4px 3px 4px 3px;
}

table.Stat td.Num, table.Stat th.Num {
  text-align: right;
}
