a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline; 
}

button, a.button {
  cursor: pointer;
  height: 22px;
}

button:hover, a.button:hover {
    background-color: #C0C0C0;
    text-decoration: none;
}

a.button {
    padding: 3px 6px 3px 6px;
    background-color: #EAEAEA;
}

#uploadifive-AccountingFiles {
  background-color: #eaeaea;
  border: 1px solid #aaaaaa;
  padding: 0 0 0 0;
}

#uploadifive-AccountingFiles:hover {
  background-color: #C0C0C0;
  text-decoration: none; 
}

.uploadifive-button {
  float: left;
}

.uploadifive-queue-item {
  background-color: #F5F5F5;
  border-bottom: 1px dotted #D5D5D5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font: 12px Arial, Helvetica, Sans-serif;
  margin-top: 3px;
  padding: 15px;
}

.uploadifive-queue-item .close {
  background: url('../_img/uploadifive-cancel.png') 0 0 no-repeat;
  display: block;
  float: right;
  height: 16px;
  text-indent: -9999px;
  width: 16px;
}

.uploadifive-queue-item .progress {
  border: 1px solid #D0D0D0;
  height: 3px;
  margin-top: 5px;
  width: 100%;
}

.uploadifive-queue-item .progress-bar {
  background-color: #0072BC;
  height: 3px;
  width: 0;
}

#AccountingFileQueue {
  border: 1px solid #AAAAAA;
  background-color: #FFFFFF;
  height: 100px;
  overflow: auto;
  /* float: left;  */
  margin-bottom: 10px;
  padding: 0 3px 3px;
  width: 400px;
}

