<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Fehler</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <p>{{ exception.message }}<p>
    </body>
</html>
