{% spaceless %}
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ documentTitle }}</title>
	<style type="text/css">
	.font-size-sender {font-size: 9px;}
	.font-size-anschreibenheader {font-size: 15px; font-weight: bold;}
	.font-size-bold {font-weight: bold;}
	.font-size-standard {font-size: 11px;}
    .footer-page-1 {font-size: 10px;}
	</style>
  </head>
  <body class="font-size-standard">
    {% include 'letter-templates/page-header.html.twig' %}

		Kundennummer: {{ customer.clientid }}<br /><br />
		<span class="font-size-anschreibenheader">Ihre Auftragsbestätigung</span><br /><br />
		Sehr
			{% if customer.title == "Frau" or customer.title == "Herr und Frau" %}
                geehrte&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},
            {% elseif customer.title == "Herr" %}
                geehrter&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},       	
            {% else %}
                geehrte Damen und Herren,	
            {% endif %}<br /><br />
		wir freuen uns, Sie als Kunden begrüßen zu dürfen und bestätigen Ihnen gerne Ihren Auftrag vom {{ customer.contract_version }}.<br />
		Mit diesem Brief erhalten Sie alle wichtigen Details, die Ihren zukünftigen Anschluss bei der comingolstadt betreffen.
        <br />&nbsp;<br />
        Ihr gewünschter Tarif:<br />
		{{ customer.purtel_product }}
        <br />&nbsp;<br />
		Ihre Rufnummer(n) bei comingolstadt:<br />

		{% for key, purtelAccount in customer.purtelAccounts %}
            {% if  purtelAccount.nummer|default %}
                    {{ purtelAccount.nummer }}{% if 0 != (key+1) % 5 and true != loop.last %}, {% endif %}
                
                {% if 0 == (key+1) % 5 and false == loop.last %}
                    <br />
                {% endif %}
            {% endif %}
        {% endfor %}

        <br />&nbsp;<br />

		Für die Realisierung Ihres Auftrags ist ein Aufsuchen des Anschlussorts durch einen Techniker erforderlich. Dieser
		wird sich in Kürze bei Ihnen melden, um einen Installationstermin zu vereinbaren - individuelle Wunschtermine
		werden dabei berücksichtigt.<br /><br />
		Über Umfang und Dauer der nötigen Arbeiten wird Sie der Service-Techniker gerne informieren. Die
		Installation betreffende Wünsche können Sie bereits vorab bei der Terminabsprache abstimmen.<br /><br />
		Die Freischaltung Ihres Anschlusses wird durch den Service-Techniker vor Ort erfolgen.
        <br />&nbsp;<br /><br /><br /><br />
		Mit den besten Grüßen<br />
		Ihre comingolstadt<br />
<br />&nbsp;
		<img height="68px" src="{{ asset('_img/customer-letters/unterschrift.png') }}" alt="unterschrift" />
<br />Siegfried Panzer<br />
		Geschäftsführung
        <br />&nbsp;<br /><br /><br /><br /><br /><br />

	<table width="100%" class="footer-page-1">
		<tr valign="top">
			<td width="195px">
				<span class="font-size-bold">COM-IN Telekommunikations GmbH</span><br />
				Ringlerstraße 28<br />
				85057 Ingolstadt<br />
				ftth@comingolstadt.de<br />
				www.comingolstadt.de<br /><br /><br /><br /><br />
			</td>
			<td width="125px">
				<span class="font-size-bold">Geschäftsführung</span><br />
				Siegfried Panzer<br />
				<span class="font-size-bold">Eingetragen beim</span><br />
				Amtsgericht Ingolstadt<br />
				HRB 2375<br /><br /><br /><br /><br />
			</td>
			<td width="140px">
				<span class="font-size-bold">Finanzamt Ingolstadt</span><br />
				Steuer-Nr. 124/116/40645<br />
				USt-IdNr. DE198148518<br /><br /><br /><br /><br />
			</td>
			<td width="180px">
				<span class="font-size-bold">Bankverbindung</span><br />
				Sparkasse Ingolstadt<br />
				IBAN: DE57 7215 0000 0050 4886 83<br />
				BIC: BYLADEM1ING<br />
				Gläubiger ID: DE04ZZZ00000575301<br /><br /><br /><br />
			</td>
		</tr>
	</table><br />&nbsp;<br /><br /><br /><br />

	<span class="font-size-anschreibenheader">Die Authentifizierungsparameter für Ihren Glasfaseranschluss</span><br />&nbsp;<br />
		Für die Konfiguration des Anschlusses benötigen Sie folgende Parameter:<br />&nbsp;<br />
		<table width="100%">
			<tr>
				<td width="22%">Benutzername:</td>
				<td>{{ customer.pppoeUsername }}</td>	
			</tr>
			<tr>
				<td width="22%">Passwort:</td>
				<td>{{ customer.password }}</td>
			</tr>
            <tr>
                <td width="22%">VLAN ID:</td>
                <td>13</td>
            </tr>
		</table><br />&nbsp;<br />
	<span class="font-size-anschreibenheader">Ihre Zugangsdaten zur Registrierung im comingolstadt Kundenportal</span><br />&nbsp;<br />
		Vertragsbestandteil Ihres Glasfaseranschlusses ist ein Zugang zum comingolstadt-Kundenportal. Hier werden u.a. die monatlichen Rechnungen der letzten 6 Monate und - soweit beauftragt - der EVN für Ihren Anschluss bereitgestellt.<br />&nbsp;<br />

	<table width="100%">
		<tr>
			<td width="22%">Kundenportal:</td>
			<td><a href="http://kunde.comingolstadt.de">http://kunde.comingolstadt.de</a></td>
		</tr>
		<tr>
			<td width="22%">Benutzername:</td>
			<td>{{ customer.purtelMasterAccount.purtel_login }}</td>
		</tr>
		<tr>
			<td width="22%">Kennwort:</td>
			<td>{{ customer.purtelMasterAccount.purtel_password }}</td>
		</tr>	
	</table><br />&nbsp;<br />

    {% set hasPhonenumbers = false %}

    {% for purtelAccount in customer.purtelAccounts %}
        {% if purtelAccount.nummer|default %}
            {% set hasPhonenumbers = true %}
        {% endif %}
    {% endfor %}

    {% if hasPhonenumbers %}
    	<span class="font-size-anschreibenheader">Ihre Telefoniezugangsdaten</span><br />&nbsp;<br />
    	<table width="100%">
    		<tr>
    			<td width="30%" style="font-weight:bold;">Telefonnummer(n):</td>
    			<td width="30%" style="font-weight:bold;">Benutzername:</td>
    			<td style="font-weight:bold;">Passwort:</td>
    		</tr>
    	</table>

    	<table width="100%">
    			{% for purtelAccount in customer.purtelAccounts %}
                        {% if purtelAccount.nummer|default %}
                        	<tr>
    							<td width="30%">{{ purtelAccount.nummer }}
                                    {% if purtelAccount.nummernblock %}
                                        - {{ purtelAccount.nummernblock }}
                                    {% endif %}
                                </td>
    							<td width="30%">{{ purtelAccount.purtel_login }}</td>
    							<td>{{ purtelAccount.purtel_password }}</td>
    						</tr>
    					{% endif %}
                {% endfor %}
    	</table><br />&nbsp;<br />
    	<table width="100%">
    		<tr>
    			<td width="12%">Registrar:</td>
    			<td>sip.com-in.net</td>
    		</tr>
    	</table><br />&nbsp;<br />
    {% endif %}

  </body>
</html>
{% endspaceless %}
