{% spaceless %}
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ documentTitle }}</title>
        <style type="text/css">
        body {
            font-size: 12px;
        }
        .headline {
            font-size: 16px;
        }
        ol {
            font-weight: bold;
        }
        ol .value {
            font-weight: normal;
        }
        .footer {
            font-size: 10px;
        }
        </style>
    </head>
<body>
    <table width="100%">
        <tr>
            <td width="380px"></td>
            <td><img src="{{ asset('_img/pdf-logo.png') }}" alt="Logo WiSoTEL" height="58px" /></td>
        </tr>
    </table>

    <p class="headline">IP Detailübersicht</p>
    <hr />&nbsp;<br style="line-height: 2px;" />

    <ol>
        <li>Kunden Name<br/><span class="value">{{ customer.company }}</span><br /></li>

        <li>Kunden Nummer<br/><span class="value">{{ customer.clientid }}</span><br /></li>

        <li>Netz<br/><span class="value">{{ network.name }}</span><br /></li>

        <li>Netz ID<br/><span class="value">{{ network.id_string }}</span><br /></li>

        <li>Service<br/><span class="value">IP Access</span><br /></li>

        <li>Produkt<br/><span class="value">{{ customer.purtel_product }}</span><br /></li>

        <li>Feste öffentliche IP Adresse (CPE IP) (*)<br/>
            <span class="value">{{ customer.ip_address }}</span><br />
            {% for address in customer.multipleIpAdresses %}
                <span class="value">{{ address.ip_address }}</span><br />
            {% endfor %}
        </li>

        {% if 'static-ip-no-pppoe' != customer.primaryIpRangePppoeType %}
            <li>PPPoE Einwahl<br/><span class="value">User: {{ customer.pppoeUsername }}<br />Passwort: {{ customer.password }}</span><br /></li>
        {% endif %}

        <li>Gateway IP (GW IP) (*)<br/><span class="value">{{ customer.primaryIpGateway }}</span><br /></li>

        <li>Mask<br/><span class="value">{{ customer.primaryIpSubnetmask }}</span><br /></li>

        <li>DNS1<br/><span class="value">{{ customer.primaryIpDns1 }}</span><br /></li>

        <li>DNS2<br/><span class="value">{{ customer.primaryIpDns2 }}</span><br /></li>

        <li>Layer 2 Protocol<br/><span class="value">{% if card %}{{ card.cardType.name }}{% endif %}</span><br /></li>
    </ol>

    <div class="footer">
        <p>(*) Andere IP Adressen aus dem Bereich dürfen ohne vorherige Zustimmung von WiSoTEL nicht verwendet werden. Eine unzulässige Verwendung führt zu Störungen Ihres Anschlusses oder des Anschlusses anderer Kunden. Die Verursacher der Störungen können haftbar gemacht werden.
        </p>

        <p>© WiSoTEL GmbH Gesellschaft für Telekommunikationslösungen – all rights reserved Seite 1 von 1 Seiten
        </p>
    </div>
</body>
</html>
{% endspaceless %}