{% spaceless %}
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style type="text/css">
            .font-size-absender {font-size: 10px;}
            .font-size-topstandard {font-size: 13px;}
            .font-size-standard {font-size: 14px;}
            .font-size-standardbold {font-size: 14px; font-weight: bold;}
            .font-size-anschreiben {font-size: 15px; font-weight: bold;}
            .font-size-bold {font-weight: bold;}
            .footer-page-1 {font-size: 10px;}
        </style>
    </head><br>&nbsp;<br>

    <body>
        <div style="max-width: 750px; margin: 0 auto;">
        <table width="100%">
            <tr>
                <td width="380px"></td>
                <td><img src="{{ asset('_img/pdf-logo.png') }}" alt="Logo WiSoTEL" height="58px" /></td>
            </tr>
        </table>

        <table width="100%" cellspacing="0" cellpadding="0">
            <tr class="font-size-absender">
                <td width="400px">WiSoTEL GmbH, Kuchengrund 8, D - 71522 Backnang </td>
            </tr><br>
            <tr class="font-size-topstandard">
                <td>{{ customer.title }} {{ customer.firstname }} {{ customer.lastname }}</td>
            </tr>
            <tr class="font-size-topstandard">
                <td>{{ customer.street }} {{ customer.streetno }}</td>
            </tr>
            <tr class="font-size-topstandard">
                <td>{{ customer.zipcode }} {{ customer.city }}</td>
            </tr>
        </table><br>&nbsp;<br><br>

        <table width="100%" cellspacing="0" cellpadding="0">
            <tr class="font-size-absender">
                <td width="160px">Interessentennummer:</td>
                <td width="160px">Bearbeiter/in:</td>
                <td width="160px">Kundenbetreuung:</td>
                <td width="160px">Datum:</td>
            </tr>
            <tr class="font-size-absender">
                <td width="160px">{{ customer.clientid }}</td>
                <td width="160px" class="font-size-standardbold">???</td>
                <td width="160px">07191 3668 600</td>
                <td width="160px">{{ "now"|date('d.m.Y') }}</td>
            </tr>
        </table><br>&nbsp;<br><br><br>

        <table>
            <tr class="font-size-anschreiben">
                <td>Eingang Ihrer Onlinebestellung</td>
            </tr><br>

            <tr>
                <td class="font-size-standard">Sehr
                {% if customer.title == "Frau" or customer.title == "Herr und Frau" %}
                    geehrte&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},
                {% elseif customer.title == "Herr" %}
                    geehrter&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},        
                {% else %}
                    geehrte Damen und Herren,   
                {% endif %}<br>
                </td>
            </tr>

            <tr>
                <td>wir bestätigen den Eingang Ihres Auftrags und freuen uns sehr, dass Sie sich für das Highspeed-Internet von WiSoTEL entschieden haben. Sie haben uns für Ihre Bestellung folgende Daten übertragen:</td>   
            </tr>
        </table><br>

        <table>
            <tr>
                <td class="font-size-standardbold">Ihre persönlichen Daten</td>
                <td>&nbsp;</td>
                <td class="font-size-standardbold">Ihre Bankverbindung</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{ customer.title }} {{ customer.firstname }} {{ customer.lastname }}</td>
                <td>Name der Bank:</td>
                <td>{{ customer.bank_account_bankname }}</td>
            </tr>
            <tr>
                <td>Geburtstag:</td>
                <td>{{ customer.birthday }}</td>
                <td>Kontoinhaber:</td>
                <td>{{ customer.bank_account_holder_lastname }}</td>
            </tr>
            <tr>
                <td>Telefonnummer:</td>
                <td>{{ customer.phoneareacode }} {{ customer.phonenumber }}</td>
                <td>IBAN:</td>
                <td>DExxxxxxxxxxxxxxxxxxxx</td>
            </tr>
            <tr>
                <td>Mobilnummer:</td>
                <td>{{ customer.mobilephone }}</td>
                <td>BIC:</td>
                <td>{{ customer.bank_account_bic_new }}</td>
            </tr>
            <tr>
                <td>Straße und Hausnummer:</td>
                <td>{{ customer.street }} {{ customer.streetno }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>PLZ und Ort:</td>
                <td>{{ customer.zipcode }} {{ customer.city }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>E-Mail:</td>
                <td>{{ customer.emailaddress }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="font-size-standardbold">Produktinformationen</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Ihr Produkt:</td>
                <td>{{ customer.productname }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>FRITZ!Box Versandkosten:</td>
                <td>{{ customer.fordering_costs }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Anschlusseinrichtung:</td>
                <td>
                    {% if not customer.connection_installation|default or customer.connection_installation == "Nein" %}
                        Nein
                    {% else %}
                        {{ customer.connection_installation }}
                    {% endif %}
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Telefonbucheintrag:</td>
                <td>{{ customer.telefonbuch_eintrag }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="font-size-standardbold">Altvertrag (Telefonie)</td>
                <td>{{ customer.telefonbuch_eintrag }}</td>
                <td class="font-size-standardbold">Altvertrag (Internet)</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Telefonievertrag:</td>
                <td>{{ customer.oldcontract_phone_provider }}</td>
                <td>Internetanbieter:</td>
                <td>{{ customer.oldcontract_internet_provider }}</td>
            </tr>
            <tr>
                <td>Anschlussart:</td>
                <td>{{ customer.oldcontract_phone_type }}</td>
                <td>Kundennummer:</td>
                <td>{{ customer.oldcontract_internet_clientno }}</td>
            </tr>
            <tr>
                <td>Vertragsinhaber:</td>
                <td>{{ customer.oldcontract_title }} {{ customer.oldcontract_firstname }} {{ customer.oldcontract_lastname }}</td>
                <td>Kündigungstermin:</td>
                <td>{{ customer.exp_date_int }}</td>
            </tr>
            <tr>
                <td>Kundennummer:</td>
                <td>{{ customer.oldcontract_phone_clientno }}</td>
                <td>Kündigungsfrist:</td>
                <td>{{ customer.notice_period_internet_int }}</td>
            </tr>
            <tr>
                <td>Kündigungstermin:</td>
                <td>{{ customer.exp_date_phone }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Kündigungsfrist:</td>
                <td>{{ customer.notice_period_phone_int }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>zu portierenden Rufnummern:</td>
                <td>{{ customer.new_or_ported_phonenumbers }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>



        </table><br>&nbsp;<br><br>

        <table>
            <tr>
                <td class="font-size-standardbold">Ihr Kommentar:</td>
                <td>XYZ</td>
            </tr>
        </table>         

        <table>
            <tr>
                <td>Ihre Bestellung erfolgt unter Berücksichtigung unserer <a href="https://wisotel.com/agb">AGB</a> und <a href="https://wisotel.com/widerrufsbelehrung">Widerrufsbelehrung</a> in der neuesten Fassung.Sie haben uns für Ihre Bestellung folgende Daten übertragen:</td><br>&nbsp;<br>
            </tr>

            <tr>
                <td>Wir werden Ihre Bestellung umgehend bearbeiten. Unser Kundenteam meldet sich schon bald bei Ihnen.<br></td>
            </tr>

            <tr>
                <td>Sollten Sie vorab noch Fragen haben, so kontaktieren Sie uns einfach. Sie erreichen uns Montag bis Freitag von 9:00 bis 17:00 Uhr telefonisch unter 07191 3668 600 oder per Email unter kundenbetreuung@wisotel.com. Wir helfen Ihnen gerne weiter.<br></td>
            </tr>

            <tr>
                <td>Herzliche Grüße aus Backnang<br></td>
            </tr>

            <tr>
                <td>Ihre WiSoTEL Kundenbetreuung<br></td>
            </tr>
        </table>

       <br>&nbsp;<br><br><br><br><br><br><br><br>

        <table width="100%" class="footer-page-1">
            <tr valign="top">
                <td width="195px">WiSoTEL GmbH</td>
                <td width="125px">Tel.: 07191 3668 600</td>
                <td width="140px">GL: Dipl. Ing. Thomas Berkel</td>
                <td width="180px">Volksbank Backnang</td>
            </tr>
            <tr valign="top">
                <td width="195px">Ges. für Telekommunikationslösungen</td>
                <td width="125px">Fax.: 07191 3668 999</td>
                <td width="140px">Amtsgericht Stuttgart</td>
                <td width="180px">IBAN: DE49602911200022603000</td>
            </tr>
            <tr valign="top">
                <td width="195px">Kuchengrund 8</td>
                <td width="125px">Mail: info@wisotel.com</td>
                <td width="140px">HRB 724829</td>
                <td width="180px">Kreissparkasse Backnang</td>
            </tr>
            <tr valign="top">
                <td width="195px">71522 Backnang</td>
                <td width="125px">USt.-IdNr.: DE258275665</td>
                <td width="140px">&nbsp;</td>
                <td width="180px">IBAN: DE29602500100015042589</td>
            </tr>
        </table>
        </div>
    </body>

</html>
{% endspaceless %}