<br />&nbsp;<br /><br />
    <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="400px">&nbsp;</td>
        <td>
            <img width="180px" src="{{ asset('_img/customer-letters/logo.png') }}" alt="Logo comingolstadt" />
        </td>
    </tr>
</table>

<br />&nbsp;<br /><br /><br />
