<table width="100%">
    <tr>
        <td width="402px">
            <span class="font-size-sender">COM-IN Telekommunikations GmbH • Ringlerstraße 28 • 85057 Ingolstadt</span><br />&nbsp;<br />{% if customer.company|default %}{{ customer.company }}{% endif %}<br />
            {% if customer.firstname|default or customer.lastname|default %}
                {% if customer.title|default %}{{ customer.title }} {% endif %}
                {% if customer.firstname|default %}{{ customer.firstname }} {% endif %}
                {{ customer.lastname }}
                <br />
            {% endif %}
            {% if customer.street|default %}{{ customer.street }} {{ customer.streetno }}<br />{% endif %}
            {{ customer.zipcode }} {{ customer.city }}
            <br /><br />&nbsp;<br />
        </td>
        <td>Kundenservice<br />
            <div style="line-height: 2px;">&nbsp;</div>
            0800 841 1000<br />
            Mo - So : Rund um die Uhr<br />
            <div style="line-height: 2px;">&nbsp;</div>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td width="47px">Fax:</td>
                    <td>0841/8046-19</td>
                </tr>
                <tr>
                    <td>E-Mail:</td>
                    <td>ftth@comingolstadt.de</td>
                </tr>
            </table>
            <br />&nbsp;<br /><br /><br />
            Ingolstadt, den {{ "now"|date('d.m.Y') }}<br />
        </td>
    </tr>
</table><br />
