{% spaceless %}
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ documentTitle }}</title>
		<style type="text/css">
		.font-size-standard {font-size: 10px;}
		</style>
	</head>

	<body>
		<br>
		<table width="100%">
			<tr>
				<td text-align: right; width="70%" ><h6>Produktinformationsblatt gem. § 1 TK-Transparenzverordnung</h6></td>
			</tr>
			<tr>
				<td width="390px"></td>
				<td><img height="58px" src="{{ asset('_img/pdf-logo.png') }}" alt="Logo WiSoTEL" /></td>
			</tr>
		</table><br>&nbsp;<br><br><br>

		<h3>WiSoTEL Internet & Telefonie</h3><br>&nbsp;<br>
		<table width="100%">
			<tr>

				<td width="17%">
					<table width="190%">
						<tr>    
				                    <td border="1" width="17px" height="8px" style="text-align: center;">X</td>
				                    <td> Internet</td>         
			            		</tr>
					</table><br>
				</td>
				
				<td width="17%">
					<table width="190%">
						<tr>
							{# 'Glasfaser' muss durch 'Daten' ersetzt werden #}
				            {% if customer.purtel_product|split('Glasfaser')|length > 1 %}
				                    <td border="1" width="17px" height="6px" style="text-align: center;">X</td>
				                    <td> Telefonie</td>
				            {% else %}
				                    <td border="1" width="17px" height="6px" style="text-align: center;"></td>
				                    <td> Telefonie</td>
				            {% endif %}
			            </tr>
					</table><br>
				</td>
		    </tr>
        </table>

		<table width="100%">
			<tr>
				<td width="77%"></td>
				<td style="text-align: left;" valign=bottom width="25%"><h6>Vermarktung seit 01/01/2009</h6></td>
			</tr>
		</table><br>

		<h5>Das Produkt Internet & Telefonie beinhaltet eine DSL-Flatrate für den Zugang zum Internet und Telefonie. Einzelheiten zum Produkt und zu buchbaren Leistungen ergeben sich aus der Leistungsbeschreibung, Preisliste und AGB (<a href="www.wisotel.com/agb">www.wisotel.com/agb</a>).</h5><br>&nbsp;<br>

		<table border="1" cellpadding="5" width="100%">
			<tr>
				<td>Datenübertagungsraten</td>
				<td align="center">im Download</td>
				<td align="center">im Upload</td>
			</tr>
			<tr>
				<td>Maximal</td>
				{% set maxupmbits = 100 %}
				{% set normalupmbits = maxupmbits * 0.9 %}
				{% set minupmbits = maxupmbits * 0.75 %}
				{% set maxdownmbits = 5 %}
				{% set normaldownmbits = (maxdownmbits * 0.9)|round(1) %}
				{% set mindownmbits = (maxdownmbits * 0.75)|round(1) %}

				<td align="center">{{ maxupmbits|replace({'.': ','}) }} Mbit/s</td>
				<td align="center">{{ maxdownmbits|replace({'.': ','}) }} Mbit/s</td>
			</tr>
			<tr>
				<td>Normalerweise zur Verfügung stehend</td>
				<td align="center" style="line-height: 35px;">{{ normalupmbits|replace({'.': ','}) }} Mbit/s</td>
				<td align="center" style="line-height: 35px;">{{ normaldownmbits|replace({'.': ','}) }} Mbit/s</td>
			</tr>
			<tr>
				<td>Minimal</td>
				<td align="center">{{ minupmbits|replace({'.': ','}) }} Mbit/s</td>
				<td align="center">{{ mindownmbits|replace({'.': ','}) }} Mbit/s</td>
			</tr>
		</table><br>&nbsp;<br>

		<table border="1" cellpadding="5" width="100%">
			<tr>
				<td colspan="2">Weitere Produktinformationen</td>
			</tr>
			<tr>
				<td width="40%">Vertragslaufzeiten</td>
				<td width="60%">
					<ul>
						<li>24 Monate</li>
						<li>Verlängerung um jeweils 12 Monate, wenn nicht mit einer Frist von einem Monat zum jeweiligen Laufzeitende gekündigt wird.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Monatliches Entgelt für das Produkt
				</td>
				<td align="center" style="line-height: 7px;"><br>&nbsp;<br><br>39,95€</td>
			</tr>
			<tr>
				<td>Zuzahlung für Ihr Endgerät</td>
				{% if customer.terminal_type == "7560" or customer.terminal_type == "7360" or customer.terminal_type == "6490" or customer.terminal_type == "5490" %}
                	<td> ohne Zuzahlung</td>
            	{% elseif customer.terminal_type == "7490" %}
                    <td align="center"> 49,95 € / einmalig</td>
	            {% elseif customer.terminal_type == "7590" %}
                    <td align="center"> 69,95 € / einmalig </td>
                {% elseif customer.terminal_type == "eigen" %}
                    <td align="center"> eigenes Gerät</td>
	            {% else %}
		                <td> </td>
	            {% endif %}
			</tr>
		</table>
{# 2 Seite #}
		{# 1. if für IPTV gedacht, "yes" muss mit "IPTV" getauscht werden #}
		{% if customer.tv_service == "yes" %}
	        <br>&nbsp;<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>            
			<table width="100%">
				<tr>
					<td text-align: right; width="70%" ><h6>Produktinformationsblatt gem. § 1 TK-Transparenzverordnung</h6></td>
				</tr>
				<tr>
					<td width="390px"></td>
					<td><img height="58px" src="{{ asset('_img/pdf-logo.png') }}" alt="Logo WiSoTEL" /></td>
				</tr>
			</table><br>&nbsp;<br><br>

			<h3>WiSoTEL-TV</h3><br>&nbsp;<br>
			
			<table width="190%">
				<tr>
		            {% if customer.tv_service == "yes" or customer.tv_service == "Ja WW" %}
		                    <td border="1" width="17px" height="6px" style="text-align: center;">X</td>
		                    <td> TV</td>
		            {% else %}
		                    <td border="1" width="17px" height="6px" style="text-align: center;"></td>
		                    <td> TV</td>
		            {% endif %}<br>
		        </tr>
	        </table><br>&nbsp;<br>

	        <table width="100%">
				<tr>
					<td width="77%"></td>
					<td style="text-align: left;" valign=bottom width="25%"><h6>Vermarktung seit 01/01/2018</h6></td>
				</tr>
			</table><br>

			<h5>Das Produkt WiSoTEL-TV baut auf WiSoTEL Internet auf. Einzelheiten zum Produkt und zu buchbaren Leistungen ergeben sich aus der Leistungsbeschreibung, Preisliste und AGB (<a href="www.wisotel.com/agb">www.wisotel.com/agb</a>).</h5><br>&nbsp;<br>

			<table border="1" cellpadding="5" width="100%">
				<tr>
					<td align="center"><b>TV-Produkt</b></td>
					<td align="center"><b></b></td>
					<td align="center"><b>Preis inkl. MwSt.</b></td>
				</tr>

				<tr>
					<td>WiSoTEL-TV Basispaket</td>
					<td align="center"></td>
					<td align="center">?,??€</td>
				</tr>
				<tr>
					<td>Option: Basis HD</td>
					<td align="center"></td>
					<td align="center">4,95€</td>
				</tr>
				<tr>
					<td>Option: Premium HD</td>
					<td align="center"></td>
					<td align="center">14,95€</td>
				</tr>
			</table><br>&nbsp;<br>

			<table border="1" cellpadding="5" width="100%">
				<tr>
					<td colspan="2">Weitere Produktinformationen</td>
				</tr>
				<tr>
					<td width="40%">Vertragslaufzeiten</td>
					<td width="60%">
						<ul>
							<li>3 Monate</li>
							<li>Verlängerung um jeweils ein Monat, wenn nicht mit einer Frist von zwei Wochen zum jeweiligen Laufzeitende gekündigt wird.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						Monatliches Entgelt für das Produkt<br />
						(Listenpreis ohne Endgerät)
					</td>
					<td align="center" style="line-height: 7px;">
						<br />&nbsp;<br /><br /><br />
						39,95€
					</td>
				</tr>
			</table><br>&nbsp;<br>

		{% elseif customer.tv_service == "" %}
			<br>&nbsp;<br>EMPTY
		{#{% elseif customer.tv_service == "SatTV EFH" %}
		{% elseif customer.tv_service == "SatTV WW" %}
		{% elseif customer.tv_service == "SatTV EFH & IPTV" %}
		{% elseif customer.tv_service == "SatTV WW & IPTV" %}#}
        {% endif %}
		
	</body>
</html>
{% endspaceless %}
        
