{% spaceless %}
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ documentTitle }}</title>
        <style type="text/css">
            .font-size-absender {font-size: 10px;}
            .font-size-topstandard {font-size: 13px;}
            .font-size-standard {font-size: 14px;}
            .font-size-standardbold {font-size: 14px; font-weight: bold;}
            .font-size-anschreiben {font-size: 15px; font-weight: bold;}
            .font-size-bold {font-weight: bold;}
            .footer-page-1 {font-size: 10px;}
        </style>
    </head><br>&nbsp;<br>

    <body>
        <table width="100%">
            <tr>
                <td width="380px"></td>
                <td><img src="{{ asset('_img/pdf-logo.png') }}" alt="Logo WiSoTEL" height="58px" /></td>
            </tr>
        </table><br>&nbsp;<br><br><br><br>

        <table width="100%" cellspacing="0" cellpadding="0">
            <tr class="font-size-absender">
                <td width="400px">WiSoTEL GmbH, Kuchengrund 8, D - 71522 Backnang </td>
            </tr><br>
            <tr class="font-size-topstandard">
                <td>{{ customer.title }} {{ customer.firstname }} {{ customer.lastname }}</td>
            </tr>
            <tr class="font-size-topstandard">
                <td>{{ customer.street }} {{ customer.streetno }}</td>
            </tr>
            <tr class="font-size-topstandard">
                <td>{{ customer.zipcode }} {{ customer.city }}</td>
            </tr>
        </table><br>&nbsp;<br><br>

        <table width="100%" cellspacing="0" cellpadding="0">
            <tr class="font-size-absender">
                <td width="160px">Kundennummer:</td>
                <td width="160px">Bearbeiter/in:</td>
                <td width="160px">Kundenbetreuung:</td>
                <td width="160px">Datum:</td>
            </tr>
            <tr class="font-size-absender">
                <td width="160px">{{ customer.clientid }}</td>
                <td width="160px">{{ customer.terminal_ready_from }} / ____</td>
                <td width="160px">07191 3668 600</td>
                <td width="160px">{{ "now"|date('d.m.Y') }}</td>
            </tr>
        </table><br>&nbsp;<br><br><br>

        <table>
            <tr class="font-size-anschreiben">
                <td>Rückgabeschein FRITZ!Box</td>
            </tr><br>
            <tr>
                <td class="font-size-standard">Sie geben heute die FRITZ!Box {{ customer.terminal_type }}, mit der Seriennummer {{ customer.terminal_serialno }} zurück. Dies geschieht bei normaler Kündigung, durch Sonderkündigung (Wegzug aus Versorgungsgebiet) oder bei einem Wechsel auf ein eigenes Gerät.</td>   
            </tr><br>
        </table><br>&nbsp;<br>

        <table>
            <tr class="font-size-standard">
                <td width="170px">Abrechnung für Endgerät:</td>
            </tr>
        </table><br>&nbsp;<br>

        <table width="120%">
            <tr class="font-size-standard">
                <td border="1" width="17px" height="6px" style="text-align: center;">X</td>
                <td> ohne Zuzahlung</td>         
            </tr><br>
            <tr class="font-size-standard">
                <td border="1" width="17px" height="6px" style="text-align: center;"></td>
                <td> Sonstiges:___________________________________</td>
            </tr>
        </table><br>&nbsp;<br><br>
                     
        <table width="100%"><tr class="font-size-standard"><td>Die FRITZ!Box ist grundsätzlich eine Dauerleihgabe und somit Eigentum von WiSoTEL GmbH. Mit Ihrer Unterschrift bestätigen Sie die Rückgabe der FRITZ!Box.</td></tr></table><br>&nbsp;<br><br>

       <table>
            <tr class="font-size-standard"> 
                <td>Freundliche Grüße</td>
            </tr><br>
            <tr class="font-size-standardbold">
                <td>WiSoTEL GmbH</td>
            </tr>
            <tr class="font-size-standard">
                <td>Gesellschaft für Kommunikationslösungen</td>
            </tr><br>&nbsp;<br>
            <tr class="font-size-standard">
                <td>_________________________________</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datum, Unterschrift Kunde/in</td>
            </tr>
        </table><br>&nbsp;<br><br><br><br><br><br><br><br>

        <table width="100%" class="footer-page-1">
            <tr valign="top">
                <td width="195px">WiSoTEL GmbH</td>
                <td width="125px">Tel.: 07191 3668 600</td>
                <td width="140px">GL: Dipl. Ing. Thomas Berkel</td>
                <td width="180px">Volksbank Backnang</td>
            </tr>
            <tr valign="top">
                <td width="195px">Ges. für Telekommunikationslösungen</td>
                <td width="125px">Fax.: 07191 3668 999</td>
                <td width="140px">Amtsgericht Stuttgart</td>
                <td width="180px">IBAN: DE49602911200022603000</td>
            </tr>
            <tr valign="top">
                <td width="195px">Kuchengrund 8</td>
                <td width="125px">Mail: info@wisotel.com</td>
                <td width="140px">HRB 724829</td>
                <td width="180px">Kreissparkasse Backnang</td>
            </tr>
            <tr valign="top">
                <td width="195px">71522 Backnang</td>
                <td width="125px">USt.-IdNr.: DE258275665</td>
                <td width="140px">&nbsp;</td>
                <td width="180px">IBAN: DE29602500100015042589</td>
            </tr>
        </table>

    </body>	
</html>
{% endspaceless %}