{% spaceless %}
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ documentTitle }}</title>
	<style type="text/css">
	.font-size-sender {font-size: 9px; valign=top;}
	.font-size-hoehekorrektur1 {font-size: 8px;}
	.font-size-hoehekorrektur2 {font-size: 15px;}
	.font-size-empfaenger {font-size:12px}
	.font-size-anschreibenheader {font-size: 15px; font-weight: bold;}
  	.font-size-vertragsdatenheader {font-size: 17px; font-weight: bold;}
  	.font-size-kleintext {font-size:10px}
	.font-size-bold {font-weight: bold;}
	.font-size-standard {font-size: 11px;}
	.font-size-hoehekorrektur1seite2 {font-size: 17px;}
	.font-size-hoehekorrektur2seite2 {font-size: 17px;}
	.font-size-boldseite2 {font-weight: bold; font-size: 13px;}
	.footer-page-1 {font-size: 10px;}
	</style>
  </head>
  <body class="font-size-standard">
    {% include 'letter-templates/page-header-ohne-logo.html.twig' %}

		Kundennummer: {{ customer.clientid }}<br />&nbsp;<br />
		<span class="font-size-anschreibenheader">Herzlich willkommen bei comingolstadt!</span><br />&nbsp;<br />
		Sehr
			{% if customer.title == "Frau" or customer.title == "Herr und Frau" %}
                geehrte&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},
            {% elseif customer.title == "Herr" %}
                geehrter&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},       	
            {% else %}
                geehrte Damen und Herren,	
            {% endif %}
		<br /><br />
		wir freuen uns, dass Sie sich für den Glasfaseranschluss bei comingolstadt entschieden haben. Sie haben die richtige Wahl getroffen! Als regionaler Anbieter profitieren Sie mit der comingolstadt von leistungsstarken Produkten und persönlicher Beratung vor Ort.<br /><br />
		Ein reibungsloser Start mit Ihrem Glasfaseranschluss ist uns besonders wichtig. Bitte prüfen Sie daher zunächst ihre persönlichen Vertragsdaten auf der Rückseite dieses Schreibens. Falsche oder unvollständige Daten können Sie uns per Post, per E-Mail an ftth@comingolstadt.de oder telefonisch unter der 0800 841 1000 mitteilen.<br />&nbsp;<br /><br /><br /><br /><br />
		Mit den besten Grüßen<br />
		Ihre comingolstadt<br /><br />&nbsp;
        <img height="68px" src="{{ asset('_img/customer-letters/unterschrift.png') }}" alt="unterschrift" />
        <br />
        Siegfried Panzer<br />
		Geschäftsführung<br />&nbsp;<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

	<p class="font-size-vertragsdatenheader">Ihre Vertragsdaten</p>
	<table width="100%" class="font-size-empfaenger">
		<tr>
			<td width="23%">
				Ihre Rückrufnummer(n):<br />
				Ihre E-Mail-Adresse:<br />
				Ihr Geburtsdatum:<br />
			</td>
			<td>
				{{ customer.phoneareacode }}{{ customer.phonenumber }}, {{ customer.mobilephone }}<br />
				{{ customer.emailaddress }}<br />
				{{ customer.birthday }}<br />
			</td>
		</tr>
	</table><br />&nbsp;<br />
	<table width="100%" class="font-size-standard">
		<tr>
			<td width="35%">
				<span class="font-size-boldseite2">Auftraggeber</span><br />
				{% if customer.title == true %}
					{{ customer.title }}
        		{% else %}       		
        		{% endif %}{{ customer.firstname }} {{ customer.lastname }}<br />
					{{ customer.street }} {{ customer.streetno }}<br />
					{{ customer.zipcode }} {{ customer.city }}<br />
			</td>
			<td>
				<span class="font-size-boldseite2">Rechnungsanschrift</span><br />
				{% if customer.bank_account_streetno|default %}
					{% if customer.streetno == customer.bank_account_streetno %}
						wie Auftraggeber
					{% else %}
						{{ customer.bank_account_street }} {{ customer.bank_account_streetno }}<br />
            			{{ customer.bank_account_zipcode }} {{ customer.bank_account_city }}
            		{% endif %}
            	{% else %}
            		wie Auftraggeber
            	{% endif %}<br />
			</td>
			<td width="160px">
				<span class="font-size-boldseite2">Installationsanschrift</span><br />
				{% if customer.connection_streetno|default %}
					{% if customer.connection_streetno == customer.streetno %}
						wie Rechnungsanschrift
					{% else %}
						{{ customer.connection_street }} {{ customer.connection_streetno }}<br />
            			{{ customer.connection_zipcode }} {{ customer.connection_city }}
            		{% endif %}
            	{% else %}
            		wie Rechnungsanschrift
            	{% endif %}<br />
			</td>
		</tr>
	</table class="font-size-standard"><br />
		<span class="font-size-kleintext">Änderungen an der Rechnungsanschrift haben keinen Einfluss auf das Vertragsverhältnis mit Ihnen als Vertragspartner. Sämtliche Korrespondenz wird weiterhin mit Ihnen geführt. Lediglich die Rechnungen werden an die abweichende Rechnungsanschrift gesandt.</span><br />
		<span class="font-size-hoehekorrektur2seite2"></span><br />
	<table class="font-size-standard">
		<tr>
			<td width="111px">
				<span class="font-size-boldseite2">Tarif:</span><br />
			</td>
			<td>
				{{ customer.purtel_product }}<br />
			</td>
		</tr>
	</table><br />
	<table width="100%" class="font-size-standard">
		<tr>
			<td width="16%">
				Zahlungsart:<br />
				IBAN:<br />
				BIC:<br />
			</td>
			<td width="28%">
				{% if customer.no_eze|default %}
						Selbstzahler
					{% else %}
						Einzugsermächtigung
					{% endif %}<br />
				{{ customer.bank_account_iban }}<br />
				{{ customer.bank_account_bic_new }}<br />
			</td>
			<td width="60%">
				&nbsp;<br />
				Bankinstitut: {{ customer.bank_account_bankname }}<br />
				Kontoinhaber: {{ customer.bank_account_holder_lastname }}<br />
			</td>
		</tr>
	</table><br />&nbsp;<br /><br />
	
	<table width="100%">
		<tr>
			<td width="32%"><span class="font-size-bold">Bereitstellung der Rechnung: </span></td>
			<td>
				{% if customer.paper_bill|default and customer.paper_bill == 'yes' %}
						Papierrechnung
            		{% else %}
            			Rechnung per E-Mail
            		{% endif %}<br />
            </td>
		</tr>
	</table><br />&nbsp;<br />
	
	{% set hasPhoneBookEntry = false %}

	{% for purtelAccount in customer.purtelAccounts %}
		{% if purtelAccount.phone_book_information == '1' %}
			{% set hasPhoneBookEntry = true %}
		{% endif %}

		{% if purtelAccount.phone_book_digital_media == '1' %}
			{% set hasPhoneBookEntry = true %}
		{% endif %}

		{% if purtelAccount.phone_book_inverse_search == '1' %}
			{% set hasPhoneBookEntry = true %}
		{% endif %}
	{% endfor %}


	{% if hasPhoneBookEntry == false %}
		{% if customer.telefonbuch_eintrag == 'Ja' %}
            <span class="font-size-bold">Telefonbucheintrag / EVN:</span><br />&nbsp;<br />
			Telefonbucheintrag gewünscht.
		{% endif %}
	{% else %}
        <span class="font-size-bold">Telefonbucheintrag / EVN:</span><br />&nbsp;<br />
        
		<table width="100%">
			<tr>
				<td style="font-weight: bold;" align="center" width="13%">Eintrag</td>
				<td style="font-weight: bold;" align="center" width="12%">Rufnummer</td>
				<td style="font-weight: bold;" align="center" width="11%">Auskunft</td>
				<td style="font-weight: bold;" align="center" width="18%">Digitale Medien</td>
				<td style="font-weight: bold;" align="center" width="12%">Inverssuche</td>
				<td style="font-weight: bold;" align="center" width="11%">EVN</td>
			</tr>
			{% for purtelAccount in customer.purtelAccounts %}
				<tr>
					<td align="center" width="11%">
							{% if customer.telefonbuch_eintrag == 'Ja' %}
								Ja
							{% else %}
	                        	Nein
							{% endif %}
					</td>
					<td align="center" width="16%">{{ purtelAccount.nummer }}</td>
					<td align="center" width="7%">
						{% if purtelAccount.phone_book_information == '1' %}
							Ja
						{% else %}
							Nein
						{% endif %}
					</td>
					<td align="center" width="21%">
						{% if purtelAccount.phone_book_digital_media == '1' %}
							Ja
						{% else %}
							Nein
						{% endif %}
					</td>
					<td align="center" width="9%">
						{% if purtelAccount.phone_book_inverse_search == '1' %}
							Ja
						{% else %}
							Nein
						{% endif %}
					</td>
					<td align="center" width="14%">
						{% if purtelAccount.itemized_bill == '1' %}
	                    	Ja
	                	{% else %}
	                		Nein
	                	{% endif %}
					</td>	
				</tr>
			{% endfor %}
		</table>
	{% endif %}<br />&nbsp;<br />

	<table width="100%" >
		<tr>
			<td width="100%">
				<span class="font-size-standard" class="font-size-boldseite2">Weitere Informationen</span>
				<span class="font-size-standard">&nbsp;</span><br />
				Noch ein Hinweis zu Ihrer ersten Rechnung: Diese enthält, abhängig vom Zeitpunkt der Freischaltung, die Basisleistungen (Grundgebühr, Optionen etc.) für einen oder auch zwei Abrechnungszeiträume, sowie den einmaligen Anschlusspreis. Gemäß unseren AGBs sind die Basisleistungen jeweils monatlich zu entrichten und werden im Aktivierungsmonat anteilig vom Aktivierungstag bis zum letzten Tag des Monats berechnet.
			</td>
		</tr>
	</table>
  </body>
</html>
{% endspaceless %}
