{% extends 'layout.html.twig' %}

{% block title %}wkv: Bulkmailer{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .note-toolbar {
            z-index: auto;
        }
    </style>
{% endblock %}


{% block body %}

    <div class="m-grid__item m-grid__item--fluid m-wrapper">

        {# BEGIN: content #}
        <div class="m-content">
            {% if runningBulkMailerProcesses|default %}
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">Aktive Prozesse</h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <button class="btn m-badge m-badge--success m-badge--wide" id="refresh-page">aktualisieren</button>
                        </div>
                    </div>

                    <div class="m-portlet__body">

                        <table class="table table-inverse">
                            <thead>
                                <tr>
                                    <th>pid</th>
                                    <th>date</th>
                                    <th>time</th>
                                    <th>command</th>
                                    <th>log</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for processInfo in runningBulkMailerProcesses%}
                                    <tr>
                                        <td scope="row"> {{ processInfo.pid}} </td>
                                        <td> {{ processInfo.startedAt|date("d.m.Y") }} </td>
                                        <td> {{ processInfo.startedAt|date("H:i:s") }} </td>
                                        <td> {{ processInfo.command }} </td>
                                        <td>
                                            <a href="{{ path('show-process-log', {'pid': processInfo.pid}) }}" target="_blank"><i class="la la-external-link"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            {% endif %}

            <div class="m-portlet">
                <div class="m-portlet__head">

                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">Bulkmailer</h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        {% if isProcessRunnerReachable %}
                            <span class="m-badge m-badge--success m-badge--wide">online</span>
                        {% else %}
                            <span class="m-badge m-badge--danger m-badge--wide">offline</span>
                        {% endif %}
                    </div>
                </div>

                {{ form_start(form, {'attr': {'class': 'm-form m-form--fit m-form--label-align-right'}}) }}
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            {{ form_label(form.addressesFile, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                            <div class="col-10">
                                <div class="custom-file">
                                    {{ form_widget(form.addressesFile, {'attr': {'class': 'custom-file-input' }}) }}
                                    {{ form_label(form.addressesFile, 'Datei auswählen...', {'label_attr': {'class': 'custom-file-label'}}) }}
                                    <span class="m-form__help">Lade hier die CSV-Datei mit den eMail-Empfängern für das Mailing hoch.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            {{ form_label(form.emails, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                            <div class="col-10">
                                {{ form_widget(form.emails, {'attr': {'class': 'form-control tokenfield'}}) }}
                                <span class="m-form__help">Durch Komma oder Tab separieren</span>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            {{ form_label(form.subject, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                            <div class="col-10">
                                {{ form_widget(form.subject, {'attr': {'class': 'form-control m-input'}}) }}
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            {{ form_label(form.messageText, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                            {{ form_widget(form.messageText) }}
                            <div class="col-10">
                                <div class="summernote" id="m_summernote_1">{{ form.messageText.vars.value|raw }}</div>
                            </div>
                        </div>

                    </div>

                    <div class="m-portlet__foot">
                        <div class="row align-items-center">
                            <div class="col-lg-6 m--valign-middle">
                                {% if isProcessRunnerReachable %}
                                    {{ form_widget(form.submit, {'attr': {'class': 'btn m-btn--air btn-wkv confirm-sending' }}) }}
                                {% else %}
                                    {{ form_widget(form.submit, {'attr': {'class': 'btn m-btn--air btn-wkv' }, 'disabled': 'true'}) }}
                                {% endif %}
                            </div>
                            <div class="col-lg-6 m--align-right">
                                {% if isProcessRunnerReachable %}
                                    {{ form_widget(form.sendTestMail, {'attr': {'class': 'btn m-btn--air btn-wkv'}}) }}
                                {% else %}
                                    {{ form_widget(form.sendTestMail, {'attr': {'class': 'btn m-btn--air btn-wkv'}, 'disabled': 'true'}) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {{ form_widget(form._token) }} {# CSRF-Token: Wichtig! #}

                {{ form_end(form, {'render_rest': false}) }}

            </div>

        </div>
        {# END: content #}

    </div>


{% endblock %}

{% block javascripts %}
    {# begin: Page Scripts #}
    <script src="{{ asset('bundles/metronic/js/bootstrap-tokenfield.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('.confirm-sending').on('click', function(e) {
            if (!window.confirm("Wollen Sie wirklich diese Nachricht an alle ausgewählten Kunden senden?")) {
                e.preventDefault();
                return;
            }
        });

        function isValidEmail(email)
        {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            return re.test(email);
        }

        $('#{{ form.emails.vars.id }}')
        .on('tokenfield:createdtoken', function (e) {
            if (!isValidEmail(e.attrs.value)) {
                $(e.relatedTarget).addClass('invalid');
            }
        })
        .tokenfield();

        $('.summernote').summernote({
            height: 350
        });

        $('form[name="{{ form.vars.full_name }}"]').on('submit', function (e) {
            var tokens = $('#{{ form.emails.vars.id }}').tokenfield('getTokens');

            for (var i = 0; i < tokens.length; i++) {
                if (!isValidEmail(tokens[i].value)) {
                    alert("Es muss eine gültige E-Mail-Adresse für Empfänger eingegeben werden!");
                    
                    e.preventDefault();
                    
                    $('#{{ form.emails.vars.id }}').closest('.form-group').addClass('has-danger');
                    
                    return;
                }
            }

            var plainText = $('#m_summernote_1').summernote('code');
            if (plainText == '<p><br></p>') {
                alert("Es muss eine Nachricht eingegeben werden!");
                e.preventDefault();
                return;
            }

            $('#{{ form.messageText.vars.id }}').val(plainText);
            var imgVal = $('[type=file]').val();
            if (imgVal == '') {
                alert("Es muss eine CVS-Datei ausgewählt werden!");
                e.preventDefault();
                return;
            }
        });

        $('#refresh-page').on('click', function (e) {
            window.location.reload(true);
        });

    });

    </script>
    {# end: Page Scripts #}
{% endblock %}
