a {
  text-decoration: none;
  color: #000000;
}

table.LsaKvzPartition {
  border: solid 3px #C0C0C0;
  border-collapse: collapse;
  width: 100%;
}

table.LsaKvzPartition .tablesorter-headerUnSorted {
  background-image: url("../_img/bg.gif");
}

table.LsaKvzPartition .tablesorter-headerDesc {
  background-image: url("../_img/desc.gif");
}

table.LsaKvzPartition .tablesorter-headerAsc {
  background-image: url("../_img/asc.gif");
}

table.LsaKvzPartition tr.odd {
  background-color: #FFFFFF;  
}

table.LsaKvzPartition tr.even {
  background-color: #EAEAEA;  
}

table.LsaKvzPartition th {
  vertical-align: bottom;
  background-color: #EAEAEA;
  background-position: right top;
  background-repeat: no-repeat;
  cursor: pointer;  text-align: left;
}

table.LsaKvzPartition th, table.IpRange td {
  border: solid 1px #C0C0C0;
  padding: 3px;
  margin: 0px;
}

table.LsaKvzPartition td.Num, table.LsaKvzPartition th.Num {
  text-align: right;
}

button, a.button {
  cursor: pointer;
}

button:hover, a.button:hover {
  background-color: #C0C0C0;
  text-decoration: none; 
}

a.button {
  padding: 3px 6px 3px 6px;
  background-color: #F78C8C;
}

