{% macro sidebarMenu(item, loop) %}{% spaceless %}
    {% from _self import sidebarMenu %}

    {% set isVisible = item.visible %}

    {% if item.requiredRole|default %}
        {% if false == is_granted(item.requiredRole) %}
            {% set isVisible = false %}
        {% endif %}
    {% endif %}

    {% if isVisible %}
        <li class="m-menu__item  {% if item.active == 1 %}m-menu__item--active{% endif %}" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a class="m-menu__link m-menu__toggle" {% if item.target|default %} target="{{ item.target }}"{% endif %} href="{% if item.path|default %}{{ url_decode(item.path) }}{% elseif item.link|default %}{{ item.link }}{% endif %}">
                {% if item.icon|default %}{{ item.icon|raw }}{% endif %}<span class="m-menu__link-text">{{ item.name }}</span>
            </a>
        </li>

        {#
        <li class="nav-item 
        {% if item.active or (item.submenu|default and item.submenu.hasActiveItem) %}active open{% endif %}{% if item.submenu|default %} {% endif %}
        ">
            <a{% if item.target|default %} target="{{ item.target }}"{% endif %} href="{% if item.path|default %}{{ item.path }}{% elseif item.link|default %}{{ item.link }}{% endif %}"{% if item.submenu|default and item.submenu.hasVisibleItem %} data-toggle="collapse" data-target="#sidebar-menu-submenu-{{ loop.index }}"{% endif %} class="nav-link nav-toggle">
                {{ item.icon|raw }}
                <span class="title">{{ item.name }}</span>

                {% if item.active or (item.submenu|default and item.submenu.hasActiveItem) %}
                    <span class="selected"></span>
                {% endif %}
                
                {% if item.submenu|default and item.submenu.hasVisibleItem %}
                    <span class="arrow open"></span>
                {% endif %}
            </a>
            {% if item.submenu|default and item.submenu.hasVisibleItem %}
                <ul id="sidebar-menu-submenu-{{ loop.index }}" class="sub-menu{% if item.submenu.hasActiveItem %} in{%endif%}" >
                    {% for submenu in item.submenu %}
                        {{ sidebarMenu(submenu, loop) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        #}
    {% endif %}
{% endspaceless %}{% endmacro %}
