{% macro sidebarSubMenu(item, loop) %}{% spaceless %}
    {% from _self import sidebarMenu %}

    {% set isVisible = item.visible %}

    {% if item.requiredRole|default %}
        {% if false == is_granted(item.requiredRole) %}
            {% set isVisible = false %}
        {% endif %}
    {% endif %}

    {% if isVisible %}
        <li id="{{ item.link }}">{% if item.icon|default %}{{ item.icon|raw }}{% endif %}{{ item.name }}</li>
    {% endif %}
{% endspaceless %}{% endmacro %}
