{% macro sidebarMenu(item, loop) %}{% spaceless %}
    {% from _self import sidebarMenu %}

    {% set isVisible = item.visible %}

    {% if item.requiredRole|default %}
        {% if false == is_granted(item.requiredRole) %}
            {% set isVisible = false %}
        {% endif %}
    {% endif %}

    {% if isVisible %}
        <li>
            <a{% if item.target|default %} target="{{ item.target }}"{% endif %} href="{% if item.path|default %}{{ url_decode(item.path) }}{% elseif item.link|default %}{{ item.link }}{% endif %}">{% if item.icon|default %}{{ item.icon|raw }}{% endif %}{{ item.name }}</a>
        </li>
    {% endif %}
{% endspaceless %}{% endmacro %}
