{% spaceless %}
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ documentTitle }}</title>
    <style type="text/css">
    .font-size-sender {font-family:'delicious'; font-size: 10px;}
    .font-size-left-side-headlines {font-family:'delicious'; font-size: 9px;}
    .font-size-configheader {font-family:'Delicious-Heavy'; font-size: 18px; font-style: italic; font-weight: bold;}
    .font-size-bold {font-family:'delicious'; font-weight: bold;}
    .font-size-standard {font-family:'delicious'; font-size: 14px;}
    .comin-blue {color: rgb(79, 129, 189);}
    .bold {font-weight: bold;}
    </style>
  </head>
  <body class="font-size-standard">
    <br />&nbsp;<br /><br />
    <br />&nbsp;<br /><br /><br />


    <table width="100%">
        <tr>
            <td>
                <span class="font-size-sender">COM-IN Telekommunikations GmbH • Ringlerstraße 28 • 85057 Ingolstadt</span><br />&nbsp;<br />{% if customer.company|default %}{{ customer.company }}{% endif %}<br />
                {% if customer.firstname|default or customer.lastname|default %}
                    {% if customer.title|default %}{{ customer.title }} {% endif %}
                    {% if customer.firstname|default %}{{ customer.firstname }} {% endif %}
                    {{ customer.lastname }}
                    <br />
                {% endif %}
                {% if customer.street|default %}{{ customer.street }} {{ customer.streetno }}<br />{% endif %}
                {{ customer.zipcode }} {{ customer.city }}
                <br /><br />&nbsp;<br />
            </td>
        </tr>
    </table><br /><br /><br /><br />

    <table width="100%">
        <tr>
            <td width="130px"><span class="font-size-left-side-headlines">Datum:</span><br />
                {{ "now"|date('d.m.Y') }}<br />
                <span class="font-size-left-side-headlines">Kunden-Nr:</span><br />
                {{ customer.clientid }}<br />
                <span class="font-size-left-side-headlines">Telefon:</span><br />
                0800 841 1000<br />
                <span class="font-size-left-side-headlines">Fax:</span><br />
                0841 8046-19<br />
                <br />
                Seite: 1/1<br />
            </td>
            <td width="490px">
                <span class="font-size-configheader">Außerordentliche Kündigung</span><br />&nbsp;<br /><br />
                Sehr
                {% if customer.title == "Frau" or customer.title == "Herr und Frau" %}
                    geehrte&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},
                {% elseif customer.title == "Herr" %}
                    geehrter&nbsp;{{ customer.title }}&nbsp;{{ customer.lastname }},        
                {% else %}
                    geehrte Damen und Herren,   
                {% endif %}<br /><br />

                da Sie mit Ihren Zahlungsverpflichtungen mit mehr als zwei Monatsbeiträgen in Verzug sind, erklären wir Ihnen hiermit die außerordentliche Kündigung des Ver-<br />tragsverhältnisses aus wichtigem Grund mit sofortiger Wirkung.<br />
                <br />
                Weiterhin haben wir Ihren Anschluss mit sofortiger Wirkung abgeschaltet.<br />
                <br />
                Bezugnehmend auf unsere Mahnschreiben bitten wir zur Vermeidung eines außer-<br />gerichtlichen Mahnverfahrens um die sofortige Begleichung aller noch offenen Pos-<br />ten.<br />
                <br />
                Wir weisen darauf hin, dass Sie verpflichtet sind das Ihnen zur Miete überlassene Zubehör postalisch an die untenstehende Adresse oder persönlich in unserem Kundencenter in der Mauthstraße 4 (Mo-Fr 10-18 Uhr, Sa 9-13 Uhr) zurückzugeben,<br />da wir Ihnen dies sonst in Rechnung stellen müssen.

                <br /><br /><br />

                Mit den besten Grüßen, ihre <span class="comin-blue"><span class="bold">comin</span>golstadt</span><br /><br />&nbsp;
                <img height="60px" src="{{ asset('_img/customer-letters/unterschrift.png') }}" alt="unterschrift" />
                <br />
                Siegfried Panzer<br />
                Geschäftsführung<br />&nbsp;<br /><br />
            </td>
        </tr>
    </table><br />
<br />

  </body>
</html>
{% endspaceless %}
