a {
  text-decoration: none;
  color: #000000;
}

table.Location {
  border: solid 3px #C0C0C0;
  border-collapse: collapse;
  width: 100%;
}

table.Location .tablesorter-headerUnSorted {
  background-image: url("../../_img/bg.gif");
}

table.Location .tablesorter-headerDesc {
  background-image: url("../../_img/desc.gif");
}

table.Location .tablesorter-headerAsc {
  background-image: url("../../_img/asc.gif");
}

table.Location tr.odd {
  background-color: #FFFFFF;  
}

table.Location tr.even {
  background-color: #EAEAEA;  
}

table.Location th {
  vertical-align: bottom;
  background-color: #EAEAEA;
  background-position: right top;
  background-repeat: no-repeat;
  cursor: pointer;  text-align: left;
}

table.Location th, table.Location td {
  border: solid 1px #C0C0C0;
  padding: 3px;
  margin: 0px;
}

table.Location td.Num, table.Location th.Num {
  text-align: right;
}

button, a.button {
  cursor: pointer;
}

button:hover, a.button:hover {
  background-color: #C0C0C0;
  text-decoration: none; 
}

a.button {
  padding: 3px 6px 3px 6px;
  background-color: #F78C8C;
}

.tipp {
    font-size: 10px;
}

.toggle-defective-form {
    float: right;
    margin-right: 160px;
}

.graphical-view-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.graphical-view-table td {
    padding: 1px;
    border: 1px solid;
    text-align: center;
}

.graphical-view-table td:empty {
    border: none;
}

.graphical-view-table td input[type="submit"], .graphical-view-table td a {
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    padding: 4px 8px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 11px;
}

.graphical-view-table td input[type="submit"].active, .graphical-view-table td a.active {
    background-color: yellow;
}

.graphical-view-table-container {
    position: relative;
    clear: both;
    overflow: hidden;
    border: none;
    width: 100%;
}

.graphical-view-table-container .multi-select-button-container {
    position: absolute;
    top: 0px;
    float: right;
    right: 30px;
    overflow: hidden;
}

.bg-red {
    background-color: #ff0000;
}

.bg-orange {
    background-color: #ffa300;
}

.bg-blue {
    background-color: #3399ff;
}

.bg-green {
    background-color: #00cc00;
}

.bg-grey {
    background-color: #ddd;
}

.bg-yellow {
    background-color: #c7c236;
}

ul.legend {
    float: left;
    clear: left;
    list-style-type: none;
    margin: 0;
}

ul.legend li {
    float: left;
    padding: 4px;
    font-weight: bold;
    font-size: 10px;
    min-width: 76px;
    margin: 1px;
}