{% spaceless %}
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ documentTitle }}</title>
    <style type="text/css">
    .font-size-sender {font-size: 9px;}
    .font-size-anschreibenheader {font-size: 13px; font-weight: bold;}
    .font-size-configheader {font-size: 15px; font-weight: bold;}
    .font-size-bold {font-weight: bold;}
    .font-size-standard {font-size: 11px;}
    .footer-page-1 {font-size: 10px;}
    </style>
  </head>
  <body class="font-size-standard"><br /><br /><br /><br /><br />
    <p class="font-size-configheader">Konfigurationsparameter für Ihren Glasfaseranschluss</p><br />&nbsp;<br />

        Für die Konfiguration des Anschlusses benötigen Sie folgende Parameter:<br />&nbsp;<br />

    <table width="100%">
            <tr>
                <td width="22%">Benutzername:</td>
                <td>{{ customer.pppoeUsername }}</td>   
            </tr>
            <tr>
                <td width="22%">Passwort:</td>
                <td>{{ customer.password }}</td>
            </tr>
            <tr>
                <td width="22%">VLAN ID:</td>
                <td>13</td>
            </tr>
        </table><br />&nbsp;<br />

    <span class="font-size-configheader">Ihre Zugangsdaten zur Registrierung im comingolstadt Kundenportal</span><br />&nbsp;<br />
        Vertragsbestandteil Ihres Glasfaseranschlusses ist ein Zugang zum comingolstadt-Kundenportal. Hier werden u.a. die monatlichen Rechnungen der letzten 6 Monate und - soweit beauftragt - der EVN für Ihren Anschluss bereitgestellt. Bitte ändern Sie aus Sicherheitsgründen Ihr Passwort nach dem ersten Login.<br /><br />

    <table width="100%">
        <tr>
            <td width="22%">Kundenportal:</td>
            <td><a href="http://kunde.comingolstadt.de">http://kunde.comingolstadt.de</a></td>
        </tr>
        <tr>
            <td width="22%">Benutzername:</td>
            <td>{{ customer.purtelMasterAccount.purtel_login }}</td>
        </tr>
        <tr>
            <td width="22%">Kennwort:</td>
            <td>{{ customer.purtelMasterAccount.purtel_password }}</td>
        </tr>       
    </table><br />&nbsp;<br />

    {% set hasPhonenumbers = false %}

    {% for purtelAccount in customer.purtelAccounts %}
        {% if purtelAccount.nummer|default %}
            {% set hasPhonenumbers = true %}
        {% endif %}
    {% endfor %}

    {% if hasPhonenumbers %}
        <span class="font-size-configheader">Ihre Telefoniezugangsdaten</span><br />&nbsp;<br />

        <table width="100%">
            <tr>
                <td width="30%" style="font-weight:bold;">Telefonnummer(n):</td>
                <td width="30%" style="font-weight:bold;">Benutzername:</td>
                <td style="font-weight:bold;">Passwort:</td>
            </tr>
        </table>

        <table width="100%">
                {% for purtelAccount in customer.purtelAccounts %}
                        {% if purtelAccount.nummer|default %}
                            <tr>
                                <td width="30%">{{ purtelAccount.nummer }}
                                    {% if purtelAccount.nummernblock %}
                                        - {{ purtelAccount.nummernblock }}
                                    {% endif %}
                                </td>
                                <td width="30%">{{ purtelAccount.purtel_login }}</td>
                                <td>{{ purtelAccount.purtel_password }}</td>
                            </tr>
                        {% endif %}
                {% endfor %}
        </table><br />&nbsp;<br />

        <table width="100%">
            <tr>
                <td width="12%">Registrar:</td>
                <td>sip.com-in.net</td>
            </tr>
        </table><br />&nbsp;<br />
    {% endif %}

    <span class="font-size-bold">Weitere Informationen</span><br />

    Noch ein Hinweis zu Ihrer ersten Rechnung: Diese enthält, abhängig vom Zeitpunkt der Freischaltung, die Basisleistungen (Grundgebühr, Optionen etc.) für einen oder auch zwei Abrechnungszeiträume, sowie den einmaligen Anschlusspreis. Gemäß unseren AGBs sind die Basisleistungen jeweils monatlich zu entrichten und werden im Aktivierungsmonat anteilig vom Aktivierungstag bis zum letzten Tag des Monats berechnet.

  </body>
</html>
{% endspaceless %}
