{% extends 'layout-wkv.html.twig' %}

{% block body %}
    <h1>Spectrum-Profile</h1>
    <br />
    <a href="{{ path('admin-spectrum-profiles') }}" style="font-weight: bold; text-decoration: underline;">zurück</a><br />
    <br />

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
