{% extends 'layout-wkv.html.twig' %}

{% block body %}
    <h1>Spectrum-Profile</h1>
    <br />
    <a href="{{ path('admin-create-spectrum-profile') }}" style="font-weight: bold; text-decoration: underline;">Neues Profil anlegen</a><br />
    <br />

    <table cellspacing="10" cellpadding="0">
        <tr style="font-weight: bold;">
            <td>Anzeigename</td>
            <td>Profil</td>
            <td>Anschlusstyp</td>
            <td>Aktion</td>
        </tr>
        {% for connectionType, array in groupedSpectrumProfiles %}
            <tr>
                <td colspan="4" style="font-weight: bold;"><br />{{ connectionType }}</td>
            </tr>

            {% for item in array %}
                <tr>
                    <td>{{ item.identifier }}</td>
                    <td>{{ item.profile }}</td>
                    <td>{{ item.connectionType.name }}</td>
                    <td><a href="{{ path('admin-edit-spectrum-profile', {'id': item.id}) }}" style="text-decoration: underline;">edit</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
