@charset 'utf-8';

.color-green {
    color: green;
}

.text-center {
    text-align: center;
}

.input-sort {
    width: 50px;
    margin-right: 30px;
}

.float-wrap {
    clear: both;
    overflow: hidden;
}

.float-wrap .left, .float-wrap .width-50 {
    float: left;
}

.float-wrap .right {
    float: right;
}

.float-wrap .width-50 {
    width: 50%;
}

.column-original-name {
    font-style: italic;
    font-size: 10px;
}

.highlight-profile-entry {
    color: #aa1942;
    font-weight: bold;
    text-decoration: underline;
}

.question-td {
    padding-left: 30px;
}

.replacement-value-td {
    padding-left: 10px;
}