a {
  text-decoration: none;
  color: #000000;
}

table.Network {
  border: solid 3px #C0C0C0;
  border-collapse: collapse;
  width: 100%;
}

table.Network .tablesorter-headerUnSorted {
  background-image: url("../../_img/bg.gif");
}

table.Network .tablesorter-headerDesc {
  background-image: url("../../_img/desc.gif");
}

table.Network .tablesorter-headerAsc {
  background-image: url("../../_img/asc.gif");
}

table.Network tr.odd {
  background-color: #FFFFFF;  
}

table.Network tr.even {
  background-color: #EAEAEA;
}

table.Network th {
  vertical-align: bottom;
  background-color: #EAEAEA;
  background-position: right top;
  background-repeat: no-repeat;
  cursor: pointer;
  text-align: left;
}

table.Network th, table.Network td {
  border: solid 1px #C0C0C0;
  padding: 3px;
  margin: 0px;
}

table.Network td.Num, table.Network th.Num {
  text-align: right;
}

button, a.button {
  cursor: pointer;
}

button:hover, a.button:hover {
  background-color: #C0C0C0;
  text-decoration: none; 
}

a.button {
  padding: 3px 6px 3px 6px;
  background-color: #F78C8C;
}
