/* @group Reset Styling */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  text-align: center;
  background-color: #EAEAEA;
  overflow: auto; 
}

p, ul, ol {
  margin: 0px 0px 12px 0px;
}

ul, ol {
  margin-left: 20px;
}

input[type=submit], input[type=reset], button[type=submit], button[type=reset], button[type=button], .button {
  border:1px solid #AAAAAA;
  background-color: #EAEAEA;
  padding: 1px;
}

textarea {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;  
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui-accordion-content hr, .box hr {
  border: none;
  border-top: 1px solid #C0C0C0;
  height: 1px;
}

hr.gray {
  border: none;
  border-top: 1px solid #C0C0C0;
  height: 1px;
}

hr.blue {
  border: none;
  border-top: 1px solid #2245C1;
  height: 1px;
}

hr.green {
  border: none;
  border-top: 1px solid #269926;
  height: 1px;
}

hr.yellow {
  border: none;
  border-top: 1px solid #DDC71F;
  height: 1px;
}

hr.red {
  border: none;
  border-top: 1px solid #CC0000;
  height: 1px;
}


h1 span.gray, span.text.gray {
  color: #C0C0C0;
}

h1 span.blue, span.text.blue {
  color: #2245C1;
}

h1 span.green, span.text.green {
  color: #269926;
}

h1 span.yellow, span.text.yellow {
  color: #DDC71F;
}

h1 span.red, span.text.red {
  color: #CC0000;
}

#Container {
  position: relative;
  display: block;
  margin: 10px auto 0 auto;
  width: 1055px;
  background-color: #FFFFFF;
  text-align: left;
}

#Navigation {
  position: relative;
  display: block;
  width: 200px;
  float: left;
}

#Logo {
  padding: 5px;
  border: 1px solid #AAAAAA;
  margin-bottom: 5px;
  text-align: center;
}

#Content {
  position: relative;
  display: block;
  border: 1px solid #AAAAAA;
  margin-left: 205px;
  padding: 10px;
  width: 830px;
  min-height: 500px;
}

#Content h1 {
  font-size: 1.5em;
  line-height: 2em;
  margin: 3px 0 3px 0;
  text-align: center;
}

#Button {
  padding: 5px;
  border: 1px solid #AAAAAA;
  margin-top: 5px;
  text-align: left;
  font-family: Verdana,Arial,sans-serif;
  background-color: #EAEAEA;
  display: none;
}

#Button h4 {
  margin-bottom: 5px;
}

#Button ul {
  list-style: none;
  margin-bottom: 0px;
}

#Button li {
  font-size: 1.2em;
  /*height: 2em;*/
  padding-bottom: 0.8em;
  cursor: pointer;
}

.box > h3 {
  margin-top: 3px;
  padding: 5px;
  border: 1px solid #AAAAAA;
  background-color: #EAEAEA;
  text-align: center;
}

.box > div {
  padding: 10px 25px 5px 25px;
  border: 1px solid #AAAAAA;
  border-top: none;
}

div.form {
  background-color: #F5F5F5;
}

.ui-menu-item {
  background-color: #EAEAEA;
  font-size: 1.1em;
  height: 2em;
}

.ui-menu {
  z-index: 10;
}

.ui-accordion-header {
  background: #EAEAEA;
  text-align: center;
  font-weight: bold;
}

.no-padding {
    padding: 0 !important;
}

.no-border {
    border: none !important;
}

.hide {
    display: none !important;
}

#LoginBack {
  position: absolute;
  display: none;
  padding: 0px;
  margin: 0px;
  background-color: #EAEAEA;
  -moz-opacity: 0.90;
  opacity: 0.90;
  filter : alpha(opacity=90); 
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
}
#LoginForm * {
  font-size: 14px;
}

.fancy-button {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px;
  font-size: 12px;
  line-height: 1.42857;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.fancy-button.outline {
  border: 1px solid transparent;
}
.fancy-button:not(.outline) {
  margin: 1px;
}
.fancy-button.outline.round {
  border-radius: 4px;
}
.fancy-button.large22 {
  font-size: 22px !important;
}
.fancy-button.large20 {
  font-size: 20px !important;
}
.fancy-button.large18 {
  font-size: 18px !important;
}
.fancy-button.large14 {
  font-size: 14px !important;
}


.fancy-button.outline.red {
  border-color: #e7505a;
  color: #e7505a;
  background-color: #f2d5d6;
}
.fancy-button.outline.red.active,
.fancy-button.outline.red:active,
.fancy-button.outline.red:active:focus,
.fancy-button.outline.red:active:hover,
.fancy-button.outline.red:focus,
.fancy-button.outline.red:hover{
  text-decoration: none;
  border-color: #e7505a;
  color: #fff;
  background-color: #e7505a;
}

.fancy-button.outline.blue {
  border-color: #3598dc;
  color: #3598dc;
  background-color: #ced7dd;
}
.fancy-button.outline.blue.active,
.fancy-button.outline.blue:active,
.fancy-button.outline.blue:active:focus,
.fancy-button.outline.blue:active:hover,
.fancy-button.outline.blue:focus,
.fancy-button.outline.blue:hover{
  text-decoration: none;
  border-color: #3598dc;
  color: #FFF;
  background-color: #3598dc;
}

.fancy-button.outline.light-blue {
  border-color: #32c5d2;
  color: #32c5d2;
  background: 0 0;
}
.fancy-button.outline.light-blue.active,
.fancy-button.outline.light-blue:active,
.fancy-button.outline.light-blue:active:focus,
.fancy-button.outline.light-blue:active:hover,
.fancy-button.outline.light-blue:focus,
.fancy-button.outline.light-blue:hover {
  text-decoration: none;
  border-color: #32c5d2;
  color: #FFF;
  background-color: #32c5d2;
}

.fancy-button.outline.green {
  border-color: #009900;
  color: #009900;
  background-color: #c7e8cb;
}
.fancy-button.outline.green.active,
.fancy-button.outline.green:active,
.fancy-button.outline.green:active:focus,
.fancy-button.outline.green:active:hover,
.fancy-button.outline.green:focus,
.fancy-button.outline.green:hover{
  text-decoration: none;
  border-color: #009900;
  color: #FFF;
  background-color: #009900;
}

.fancy-button.outline.light-green {
  border-color: #42f45c;
  color: #42f45c;
  background: 0 0;
}
.fancy-button.outline.light-green.active,
.fancy-button.outline.light-green:active,
.fancy-button.outline.light-green:active:focus,
.fancy-button.outline.light-green:active:hover,
.fancy-button.outline.light-green:focus,
.fancy-button.outline.light-green:hover{
  text-decoration: none;
  border-color: #42f45c;
  color: #FFF;
  background-color: #42f45c;
}

.fancy-button.outline.yellow {
  border-color: #c49f47;
  color: #c49f47;
  background: 0 0;
}
.fancy-button.outline.yellow.active,
.fancy-button.outline.yellow:active,
.fancy-button.outline.yellow:active:focus,
.fancy-button.outline.yellow:active:hover,
.fancy-button.outline.yellow:focus,
.fancy-button.outline.yellow:hover{
  text-decoration: none;
  border-color: #c49f47;
  color: #fff;
  background-color: #c49f47;
}

.fancy-button.outline.purple {
  border-color: #8E44AD;
  color: #8E44AD;
  background: 0 0;
}
.fancy-button.outline.purple.active,
.fancy-button.outline.purple:active,
.fancy-button.outline.purple:active:focus,
.fancy-button.outline.purple:active:hover,
.fancy-button.outline.purple:focus,
.fancy-button.outline.purple:hover{
  text-decoration: none;
  border-color: #8E44AD;
  color: #fff;
  background-color: #8E44AD;
}

.fancy-button.outline.grey {
  border-color: #525e64;
  color: #525e64;
  background-color: #e3ebef;
}
.fancy-button.outline.grey.active,
.fancy-button.outline.grey:active,
.fancy-button.outline.grey:active:focus,
.fancy-button.outline.grey:active:hover,
.fancy-button.outline.grey:focus,
.fancy-button.outline.grey:hover{
  text-decoration: none;
  border-color: #525e64;
  color: #fff;
  background-color: #525e64;
}

.fancy-button.outline.light-grey {
  border-color: #E5E5E5;
  color: #E5E5E5;
  background: 0 0;
}
.fancy-button.outline.light-grey.active,
.fancy-button.outline.light-grey:active,
.fancy-button.outline.light-grey:active:focus,
.fancy-button.outline.light-grey:active:hover,
.fancy-button.outline.light-grey:focus,
.fancy-button.outline.light-grey:hover{
  text-decoration: none;
  border-color: #E5E5E5;
  color: #333;
  background-color: #E5E5E5;
}

.fancy-button.red {
  border-color: #e7505a;
  color: #e7505a;
  background: 0 0;
}
.fancy-button.red.active,
.fancy-button.red:active,
.fancy-button.red:active:focus,
.fancy-button.red:active:hover,
.fancy-button.red:focus,
.fancy-button.red:hover{
  text-decoration: none;
  border-color: #e7505a;
  color: #fff;
  background-color: #e7505a;
}

.fancy-button.blue {
  border-color: #3598dc;
  color: #3598dc;
  background: 0 0;
}
.fancy-button.blue.active,
.fancy-button.blue:active,
.fancy-button.blue:active:focus,
.fancy-button.blue:active:hover,
.fancy-button.blue:focus,
.fancy-button.blue:hover{
  text-decoration: none;
  border-color: #3598dc;
  color: #FFF;
  background-color: #3598dc;
}

.fancy-button.light-blue {
  border-color: #32c5d2;
  color: #32c5d2;
  background: 0 0;
}
.fancy-button.light-blue.active,
.fancy-button.light-blue:active,
.fancy-button.light-blue:active:focus,
.fancy-button.light-blue:active:hover,
.fancy-button.light-blue:focus,
.fancy-button.light-blue:hover{
  text-decoration: none;
  border-color: #32c5d2;
  color: #FFF;
  background-color: #32c5d2;
}

.fancy-button.green {
  border-color: #009900;
  color: #009900;
  background: 0 0;
}
.fancy-button.green.active,
.fancy-button.green:active,
.fancy-button.green:active:focus,
.fancy-button.green:active:hover,
.fancy-button.green:focus,
.fancy-button.green:hover{
  text-decoration: none;
  border-color: #009900;
  color: #FFF;
  background-color:#009900;
}

.fancy-button.light-green {
  border-color: #42f45c;
  color: #42f45c;
  background: 0 0;
}
.fancy-button.light-green.active,
.fancy-button.light-green:active,
.fancy-button.light-green:active:focus,
.fancy-button.light-green:active:hover,
.fancy-button.light-green:focus,
.fancy-button.light-green:hover{
  text-decoration: none;
  border-color: #42f45c;
  color: #FFF;
  background-color: #42f45c;
}

.fancy-button.yellow {
  border-color: #c49f47;
  color: #c49f47;
  background: 0 0;
}
.fancy-button.yellow.active,
.fancy-button.yellow:active,
.fancy-button.yellow:active:focus,
.fancy-button.yellow:active:hover,
.fancy-button.yellow:focus,
.fancy-button.yellow:hover{
  text-decoration: none;
  border-color: #c49f47;
  color: #fff;
  background-color: #c49f47;
}

.fancy-button.purple {
  border-color: #8E44AD;
  color: #8E44AD;
  background: 0 0;
}
.fancy-button.purple.active,
.fancy-button.purple:active,
.fancy-button.purple:active:focus,
.fancy-button.purple:active:hover,
.fancy-button.purple:focus,
.fancy-button.purple:hover{
  text-decoration: none;
  border-color: #8E44AD;
  color: #fff;
  background-color: #8E44AD;
}

.fancy-button.grey {
  border-color: #525e64;
  color: #525e64;
  background: 0 0;
}
.fancy-button.grey.active,
.fancy-button.grey:active,
.fancy-button.grey:active:focus,
.fancy-button.grey:active:hover,
.fancy-button.grey:focus,
.fancy-button.grey:hover{
  text-decoration: none;
  border-color: #525e64;
  color: #fff;
  background-color: #525e64;
}

.fancy-button.light-grey {
  border-color: #E5E5E5;
  color: #E5E5E5;
  background: 0 0;
}
.fancy-button.light-grey.active,
.fancy-button.light-grey:active,
.fancy-button.light-grey:active:focus,
.fancy-button.light-grey:active:hover,
.fancy-button.light-grey:focus,
.fancy-button.light-grey:hover{
  text-decoration: none;
  border-color: #E5E5E5;
  color: #333;
  background-color: #E5E5E5;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: default;
}
