.OvrPorting,
.OvrWbci,
.OvrPortingCustomer,
.OvrWbciCustomer,
.OvrPortingPurtel,
.OvrPortingNewcall,
.OvrPortingCallnum,
.OvrPortingRoute,
.OvrPortingOrderTal,
.OvrPortingOrderedTal,
.OvrPortingTalConnectInfo,
.OvrPortingConfirmedTal,
.OvrPortingConfirmedTalsWithinPastFourWeeks,
.OvrPortingFritzbox6320,
.OvrPortingFritzbox6360,
.OvrPortingFritzbox6490,
.OvrPortingFritzbox7270,
.OvrPortingFritzbox7360,
.OvrPortingFritzbox7390,
.OvrPortingFritzbox7490,
.OvrPortingFritzbox7560,
.OvrPortingFritzbox7590,
.OvrPortingFritzboxGW_400,
.OvrPortingFritzboxIBG2426A,
.OvrPortingFritzboxNoType,
.OvrPortingNetPatch,
.OvrPortingNetDslamCmts,
.OvrPortingNetPppoe,
.OvrPortingNetActive,
.OvrPortingNetGfActive,
.OvrPortingContructCancel,
.OvrPortingContructCanceled,
.OvrPortingConnectionInactive,
.OvrPortingContructMissing,
.OvrPortingProspectiveCustomers,
.OvrPortingProspectiveCustomersOnline,
.OvrPortingContructNoAnswer,
.OvrPortingContructNoAnswer3,
.OvrPortingContructPhonebook,
.OvrPortingContructPurtel,
.OvrPortingContructSpecial,
.OvrPortingContructNoSupply,
.OvrPortingContructOldMissing,
.OvrPortingContructProductMissing,
.OvrPortingContructEzeMissing,
.OvrPortingContructEmailMissing
{ display: none; }

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline; 
}

button, .fixNum {
  cursor: pointer;
}

button:hover {
  background-color: #C0C0C0;
}

.fixNum, .fixNumNL {
  display: inline-block;
  width: 40px;
  text-align: right;
  margin-right: 7px;
}

table.Ovr {
  border: solid 3px #C0C0C0;
  border-collapse: collapse;
}

table.Ovr .tablesorter-headerUnSorted {
  background-image: url("../../_img/bg.gif");
}

table.Ovr .tablesorter-headerDesc {
  background-image: url("../../_img/desc.gif");
}

table.Ovr .tablesorter-headerAsc {
  background-image: url("../../_img/asc.gif");
}

table.Ovr tr.odd {
  background-color: #FFFFFF;  
}

table.Ovr tr.even {
  background-color: #EAEAEA;  
}

table.Ovr th {
  vertical-align: bottom;
  background-color: #EAEAEA;
  background-position: right top;
  background-repeat: no-repeat;
  cursor: pointer;  text-align: left;
}

table.Ovr th, table.Ovr td {
  border: solid 1px #C0C0C0;
  padding: 3px;
  margin: 0px;
}

.n01 {width: 110px;}
.n02 {width:  90px;}
.n03 {width: 110px;}
.n04 {width: 180px;}
.n05 {width:  80px;}
.n06 {width:  30px; text-align: right;}
.n07 {width: 180px;}

.n11 {width: 110px;}
.n12 {width: 142px;}
.n13 {width: 155px;}
.n14 {width: 180px;}
.n15 {width: 100px;}
.n16 {width: 100px;}

.n21 {width: 85px;}
.n22 {width: 110px;}
.n23 {width: 130px;}
.n24 {width: 150px;}
.n25 {width: 80px;}
.n26 {width: 80px;}
.n27 {width: 40px;}
.n28 {width: 120px;}

.n31 {width: 85px;}
.n32 {width: 110px;}
.n33 {width: 130px;}
.n34 {width: 150px;}
.n35 {width: 90px;}
.n36 {width: 90px;}
.n37 {width: 90px;}
.n38 {width: 40px;}
