/*
 * Benutzer und Gruppen
 */
a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline; 
}

h4 {
  text-align: center;
}

input:read-only {
  background-color: #F5F5F5;  
} 

input:-moz-read-only {
  background-color: #F5F5F5;  
} 

.CustTechConf a {
  text-decoration: none;
  color: #606060;
}

.CustTechConf a:hover {
  text-decoration: underline;
}

#dialog-submit table {
  border: solid #FF0000 2px;
  border-collapse: collapse;
}


#dialog-submit table th, table td {
  border: solid #000000 1px;
  padding: 2px 5px 2px 5px;
}

#dialog-submit table th{
  border-bottom: 2px;
  background-color: #e0e0e0;
}

#MailAddress, #MailSubject {
  width: 750px;
}

#MailBody {
  width: 750px;
  height: 300px;
}

#uploadifive-MailFiles {
  background-color: #eaeaea;
  border: 1px solid #aaaaaa;
  padding: 0 0 0 0;
}

#uploadifive-MailFiles:hover {
  background-color: #C0C0C0;
  text-decoration: none; 
}

.uploadifive-button {
  float: left;
}

.uploadifive-queue-item {
  background-color: #F5F5F5;
  border-bottom: 1px dotted #D5D5D5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font: 12px Arial, Helvetica, Sans-serif;
  margin-top: 3px;
  padding: 15px;
}

.uploadifive-queue-item .close {
  background: url('../_img/uploadifive-cancel.png') 0 0 no-repeat;
  display: block;
  float: right;
  height: 16px;
  text-indent: -9999px;
  width: 16px;
}

.uploadifive-queue-item .progress {
  border: 1px solid #D0D0D0;
  height: 3px;
  margin-top: 5px;
  width: 100%;
}

.uploadifive-queue-item .progress-bar {
  background-color: #0072BC;
  height: 3px;
  width: 0;
}

#MailFileQueue {
  border: 1px solid #AAAAAA;
  height: 177px;
  overflow: auto;
  float: left;
  margin-bottom: 10px;
  padding: 0 3px 3px;
  width: 400px;
}

#MailStdPdf {
  margin: 0px 0px 0px 420px;
}

.change2customer {
  text-align: center;
}

.CustStatus span.admin, .CustTechConf span.admin {
  display: inline-block;
  width: 75px;
}

.CustStatus a {
  color: grey;
}

.CustStatus span.status {
  display: inline-block;
  vertical-align: top;
  padding: 5px 5px 5px 5px;
  width: 700px;
}

.CustStatus span.statustext {
  display: block;
  vertical-align: top;
  padding: 0px;
  margin: 0px 0px 0px 30px;
  font-size: 14px;
}

.CustStatus span.control {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
  float: left;
}

.CustStatus .control.gray {
  background-color: #C0C0C0;
}

.CustStatus .status.gray {
  border: #C0C0C0 solid 1px;
}

.CustStatus .control.green {
  background-color: #269926;
}

.CustStatus .status.green {
  border: #269926 solid 1px;
}

.CustStatus .control.yellow {
  background-color: #DDC71F;
}

.CustStatus .status.yellow {
  border: #DDC71F solid 1px;
}

.CustStatus .blink {
  text-decoration: line-through;
}

.CustStatus .control.red {
  background-color: #CC0000;
}

.CustStatus .status.red {
  border: #CC0000 solid 1px;
}

button, a.button {
  cursor: pointer;
}

button:hover, a.button:hover {
  background-color: #C0C0C0;
  text-decoration: none; 
}

a.button {
  padding: 3px 6px 3px 6px;
  background-color: #F78C8C;
}

input.red {
  background-color: #F78C8C;
}


.form span {
  display: inline-block;
  padding-right: 5px;
  padding-top: 3px;
  vertical-align: top;
  width: 185px;
}

input.purtelmaster {
  background-color: #81FF5B;
}



.form span.half {
  width: 90px;
}

.form span.one_half {
  width: 280px;
}

.form span.double {
  width: 380px;
}

.form span.double textarea {
  width: 380px;
  height: 100px;
}

.form span.double textarea.small {
  width: 380px;
  height: 60px;
}

.form span.doublebox {
  padding: 0;
  width: 385px;
}

.form span.tree {
  width: 470px;
}

.form span.four, .form span.bsmListItemLabel {
  width: 755px;
}

.form span.four textarea {
  width: 770px;
  height: 100px;
}

.form select, .form input {
  border: 1px solid #AAAAAA;
  width: 100%;
}

.form textarea {
  border: 1px solid #AAAAAA;
}

.form label.SelPurtelBlock {
  width: 90px;
  display: inline-block;
}

.form label.SelPurtelType {
  width: 140px;
  display: inline-block;
}

.form label.SelPurtelPorting {
  width: 120px;
  display: inline-block;
}

.form label.SelPurtelMove {
  width: 130px;
  display: inline-block;
}

.form input.SelPurtelBlock {
  width: 90px;
}

.form select.SelPurtelType {
  width: 140px;
}

.form select.SelPurtelPorting {
  width: 60px;
}

.form select.SelPurtelMove {
  width: 130px;
}
/*
 * Mailtemplate
 */
.success {
	color: #269926;
}

.error {
	color: #CC0000;
}

.warning {
	color: #DDC71F;
}

#mailtemplate-create-text {
	width: 100%;
	min-height: 300px;
}

#button {
  display: block;
}

#button h4 {
  text-align: center;
}

#Button a, #Button a:visited, #Button a:active {
  text-decoration: none;
  color: #000;
}

#Button a:hover {
  text-decoration: underline;
}
